<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Ikhsan's Tech World</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="keywords" />
    <meta content="" name="description" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=PT+Serif:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
      rel="stylesheet"
    />

    <link href="lib/animate/animate.min.css" rel="stylesheet" />

    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet" />

    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
    <script src="style.js"></script>
  </head>

  <body>
    <div class="container-fluid sticky-top px-0">
      <div class="container-fluid bg-light">
        <div class="container px-0">
          <nav class="navbar navbar-light navbar-expand-xl">
            <a href="index.html" class="navbar-brand">
              <h1 class="text-primary display-6">Ikhsan's Tech World</h1>
            </a>
            <button
              class="navbar-toggler py-2 px-3"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarCollapse"
            >
              <span class="fa fa-bars text-primary"></span>
            </button>
            <div
              class="collapse navbar-collapse bg-light py-3"
              id="navbarCollapse"
            >
              <div class="navbar-nav ms-auto border-top">
                <a href="index.html" class="nav-item nav-link">Home</a>
                <div class="nav-item dropdown">
                  <a
                    href="#"
                    class="nav-link dropdown-toggle active"
                    data-bs-toggle="dropdown"
                    >Produk</a
                  >
                  <div class="dropdown-menu m-0">
                    <a href="asus.html" class="dropdown-item">Asus</a>
                    <a href="acer.html" class="dropdown-item active">Acer</a>
                    <a href="lenovo.html" class="dropdown-item">Lenovo</a>
                    <a href="DELL.html" class="dropdown-item">DELL</a>
                    <a href="axioo.html" class="dropdown-item">axioo</a>
                  </div>
                </div>
                <a href="rekomendasi.html" class="nav-item nav-link"
                  >Rekomendasi</a
                >
                <a href="kontak.html" class="nav-item nav-link">Kontak</a>
                <a href="daftar.html" class="nav-item nav-link">Daftar</a>
                <a href="login.html" class="nav-item nav-link">Login</a>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>

    <div class="container-fluid py-5">
      <div class="container py-5">
        <div class="text-center my-5">
          <h1 class="display-4 fw-bold">Laptop Acer Terbaik</h1>
          <p class="lead">
            Rekomendasi laptop Acer yang cocok untuk berbagai kebutuhanmu.
          </p>
        </div>

        <div class="row g-4">
          <!-- Acer 1 -->
<div class="col-md-4">
  <div class="product-card">
    <div class="product-img">
      <img src="img/acer/laptop4.2.jpg" alt="Acer Predator Helios Neo 16 PHN16-71-72DN productnation" />
    </div>
    <div class="product-content">
      <div class="product-title">Acer Predator Helios Neo 16 PHN16-71-72DN productnation</div>
      <div class="product-specs">Intel® Core™ i7-13700HX , 16GB DDR5, 1TB SSD PCIe® Gen 4, Layar 16"</div>
      <div class="product-price">Rp26.779.000</div>
      <div class="product-buttons">
        <button
          type="button"
          class="btn btn-primary lihat-detail-btn"
          data-bs-toggle="modal"
          data-bs-target="#productDetailModal"
          data-nama="Acer Predator Helios Neo 16 PHN16-71-72DN productnation"
          data-spesifikasi="Intel® Core™ i7-13700HX, 16GB DDR5, 1TB SSD PCIe® Gen 4, Layar 16&quot;"
          data-deskripsi="Acer Predator Helios Neo 16 PHN16-71-72DN adalah laptop gaming premium yang menawarkan performa luar biasa dengan prosesor Intel® Core™ i7-13700HX dan grafis NVIDIA® GeForce RTX™ 4060. Didesain untuk para gamer dan kreator, laptop ini memiliki layar WQXGA 16 inci dengan refresh rate 165Hz untuk pengalaman visual yang mulus. Ditenagai oleh sistem pendinginan canggih dan dilengkapi dengan memori 16GB serta penyimpanan 1TB SSD, Acer Predator Helios Neo 16 siap memberikan performa maksimal untuk multitasking berat dan gaming intensif. Dapatkan keunggulan dalam segala aktivitas komputasi dengan desain premium yang tahan lama dan portabilitas tinggi."
          data-harga="Rp26.779.000"
          data-img="img/acer/laptop4.2.jpg"
        >
          Lihat Detail
        </button>
        <a href="https://youtu.be/SX4R539yQuc?si=af7topBrbnJ_DSWY"
           class="btn btn-danger"
           target="_blank">
          Tonton Review di YouTube
        </a>
      </div>
    </div>
  </div>
</div>

<!-- Acer 2 -->
<div class="col-md-4">
  <div class="product-card">
    <div class="product-img">
      <img src="img/acer/laptop5.jpg" alt="ASUS VivoBook E410" />
    </div>
    <div class="product-content">
      <div class="product-title">Acer Predator Helios 300 PH315-54 productnation</div>
      <div class="product-specs">Intel® Core™ i7-11800H, 16GB DDR4, 512GB, Layar 15.6"</div>
      <div class="product-price">Rp21.999.000</div>
      <div class="product-buttons">
        <button
          type="button"
          class="btn btn-primary lihat-detail-btn"
          data-bs-toggle="modal"
          data-bs-target="#productDetailModal"
          data-nama="Acer Predator Helios 300 PH315-54 productnation"
          data-spesifikasi="Intel® Core™ i7-11800H, 16GB DDR4, 512GB, Layar 15.6&quot;"
          data-deskripsi="Acer Predator Helios 300 PH315-54 adalah laptop gaming yang dirancang untuk memberikan performa luar biasa. Ditenagai oleh prosesor Intel® Core™ i7-11800H dan grafis NVIDIA® GeForce RTX™ 3060, laptop ini mampu menangani game dan aplikasi berat dengan mudah. Layar Full HD 15,6 inci dengan refresh rate 165Hz memastikan pengalaman visual yang mulus, sementara sistem pendinginan 5th Gen AeroBlade 3D menjaga suhu tetap stabil selama sesi gaming yang intens. Dengan 16GB RAM dan penyimpanan SSD 512GB, Acer Predator Helios 300 PH315-54 adalah pilihan ideal bagi para gamer dan kreator yang membutuhkan perangkat dengan kinerja tinggi dan desain premium."
          data-harga="Rp21.999.000"
          data-img="img/acer/laptop5.jpg"
        >
          Lihat Detail
        </button>
        <a href="https://youtu.be/LUMT7jpb4WQ?si=_sMa7cFSWNuCzQEV"
           class="btn btn-danger"
           target="_blank">
          Tonton Review di YouTube
        </a>
      </div>
    </div>
  </div>
</div>

<!-- Acer 3 -->
<div class="col-md-4">
  <div class="product-card">
    <div class="product-img">
      <img src="img/acer/laptop6.jpg" alt="ASUS Vivobook Go 14 (E1404)" />
    </div>
    <div class="product-content">
      <div class="product-title">Acer Swift Edge SFA16-41 productnation</div>
      <div class="product-specs">AMD Ryzen™ 5 6600U, 8GB RAM, 512GB SSD</div>
      <div class="product-price">Rp14.987.000</div>
      <div class="product-buttons">
        <button
          type="button"
          class="btn btn-primary lihat-detail-btn"
          data-bs-toggle="modal"
          data-bs-target="#productDetailModal"
          data-nama="Acer Swift Edge SFA16-41 productnation"
          data-spesifikasi="AMD Ryzen™ 5 6600U, 8GB RAM, 512GB SSD, Layar 14&quot;"
          data-deskripsi="Acer Swift Edge SFA16-41 adalah laptop premium yang dirancang untuk para profesional dan pengguna yang membutuhkan perangkat ringan namun kuat. Ditenagai oleh prosesor AMD Ryzen™ 5 6600U atau Ryzen™ 7 6800U, laptop ini menawarkan performa luar biasa untuk multitasking dan produktivitas tinggi. Dengan layar 16 inci WQUXGA OLED yang tajam dan akurat, serta desain tipis dan ringan (hanya 1.17 kg), Acer Swift Edge SFA16-41 sangat ideal untuk mobilitas tinggi. Dilengkapi dengan RAM hingga 16GB dan penyimpanan SSD 512GB atau 1TB, laptop ini menyediakan ruang yang cukup untuk penyimpanan data penting. Dengan daya tahan baterai yang panjang, perangkat ini siap menemani Anda sepanjang hari. Baik untuk bekerja, presentasi, atau hiburan, Acer Swift Edge SFA16-41 memberikan keseimbangan sempurna antara performa dan portabilitas."
          data-harga="Rp14.987.000"
          data-img="img/acer/laptop6.jpg"
        >
          Lihat Detail
        </button>
        <a href="https://youtu.be/tYzfbk7cedA?si=M6d3V3f1kSt_Mvom"
           class="btn btn-danger"
           target="_blank">
          Tonton Review di YouTube
        </a>
      </div>
    </div>
  </div>
</div>

<!-- Acer 4 -->
<div class="col-md-4">
  <div class="product-card">
    <div class="product-img">
      <img src="img/acer/laptop7.jpg" alt="ASUS Chromebook C523" />
    </div>
    <div class="product-content">
      <div class="product-title">Acer Aspire 5 Spin 14 productnation</div>
      <div class="product-specs">Intel® Core™ i7-1355U, 16 GB LPDDR5, 512 GB SSD PCIe Gen4 NVMe, Layar 14"</div>
      <div class="product-price">Rp14.499.000</div>
      <div class="product-buttons">
        <button
          type="button"
          class="btn btn-primary lihat-detail-btn"
          data-bs-toggle="modal"
          data-bs-target="#productDetailModal"
          data-nama="Acer Aspire 5 Spin 14 productnation"
          data-spesifikasi="Intel Celeron, 4GB RAM, 64GB eMMC, Layar 15.6&quot;"
          data-deskripsi="Acer Aspire 5 Spin 14 menawarkan fleksibilitas dengan desain 2-in-1, performa tinggi berkat prosesor Intel® Core™ generasi ke-13, dan kenyamanan penggunaan dengan layar sentuh serta stylus. Dengan bobot ringan dan daya tahan baterai yang lama, laptop ini menjadi pilihan tepat bagi mereka yang membutuhkan perangkat portabel tanpa mengorbankan kinerja."
          data-harga="Rp14.499.000"
          data-img="img/acer/laptop7.jpg"
        >
          Lihat Detail
        </button>
        <a href="https://youtu.be/Q5yfcfE4vus?si=MYz3wIYDMPXdSIIs"
           class="btn btn-danger"
           target="_blank">
          Tonton Review di YouTube
        </a>
      </div>
    </div>
  </div>
</div>

<!-- Acer 5 -->
<div class="col-md-4">
  <div class="product-card">
    <div class="product-img">
      <img src="img/acer/laptop8.webp" alt="ASUS Gaming V16 (V3607V)" />
    </div>
    <div class="product-content">
      <div class="product-title">Acer Aspire 7 Ryzen 5000 productnation</div>
      <div class="product-specs">AMD Ryzen™ 5 5500U, RTX 3050, 16 GB DDR4, 512 GB SSD PCIe NVMe</div>
      <div class="product-price">Rp12.299.000</div>
      <div class="product-buttons">
        <button
          type="button"
          class="btn btn-primary lihat-detail-btn"
          data-bs-toggle="modal"
          data-bs-target="#productDetailModal"
          data-nama="Acer Aspire 7 Ryzen 5000 productnation"
          data-spesifikasi="AMD Ryzen™ 5 5500U, RTX 3050, 16 GB DDR4, 512 GB SSD PCIe NVMe, Layar 15.6&quot;"
          data-deskripsi="Acer Aspire 7 A715-42G-R75V, laptop bertenaga dengan prosesor AMD Ryzen™ 5 5500U dan GPU NVIDIA® GeForce® RTX 3050, ideal untuk gaming ringan, produktivitas tinggi, dan kebutuhan multimedia."
          data-harga="Rp12.299.000"
          data-img="img/acer/laptop8.webp"
        >
          Lihat Detail
        </button>
        <a href="https://youtu.be/3sJWRFNqdPE?si=d_NX0J6rIAl61DG5"
           class="btn btn-danger"
           target="_blank">
          Tonton Review di YouTube
        </a>
      </div>
    </div>
  </div>
</div>

<!-- Acer 6 -->
<div class="col-md-4">
  <div class="product-card">
    <div class="product-img">
      <img src="img/acer/laptop9.jpg" alt="ASUS Chromebook C425" />
    </div>
    <div class="product-content">
      <div class="product-title">Acer Nitro 16 AN16-41 productnation</div>
      <div class="product-specs">AMD Ryzen™ 5 7535HS, RTX 4050, 8 GB DDR5 4800 MHz (dapat di-upgrade hingga 32 GB), 512 GB SSD PCIe Gen4 NVMe, Layar 16"</div>
      <div class="product-price">Rp14.999.000</div>
      <div class="product-buttons">
        <button
          type="button"
          class="btn btn-primary lihat-detail-btn"
          data-bs-toggle="modal"
          data-bs-target="#productDetailModal"
          data-nama="Acer Nitro 16 AN16-41 productnation"
          data-spesifikasi="AMD Ryzen™ 5 7535HS, RTX 4050, 8 GB DDR5 4800 MHz (dapat di-upgrade hingga 32 GB), 512 GB SSD PCIe Gen4 NVMe, Layar 16&quot;"
          data-deskripsi="Acer Nitro 16 AN16-41 adalah pilihan tepat bagi gamer yang mencari laptop dengan performa tinggi dan fitur lengkap tanpa menguras kantong. Dengan kombinasi prosesor AMD Ryzen™ 5 dan GPU NVIDIA® GeForce® RTX 4050, laptop ini mampu menjalankan game AAA dengan lancar. Layar 16 WUXGA dengan refresh rate 165Hz dan 100% sRGB memberikan visual yang tajam dan halus, ideal untuk gaming dan konten kreatif."
          data-harga="Rp14.999.000"
          data-img="img/asus/laptop11.png"
        >
          Lihat Detail
        </button>
        <a href="https://youtu.be/aNm3_z4CKJo?si=Ue8Jz2Lox_cGj9Kc"
           class="btn btn-danger"
           target="_blank">
          Tonton Review di YouTube
        </a>
      </div>
    </div>
  </div>
</div>

<!-- Acer 7 -->
<div class="col-md-4">
  <div class="product-card">
    <div class="product-img">
      <img src="img/acer/laptop10.jpg" alt="ASUS Chromebook Flip CX1 (CX1500)" />
    </div>
    <div class="product-content">
      <div class="product-title">Acer Swift 5 Aerospace SF514-56T productnation</div>
      <div class="product-specs">Intel® Core™ i5-1240P, 16 GB LPDDR5, 512 GB , Layar Touch 14"</div>
      <div class="product-price">Rp12.131.000 </div>
      <div class="product-buttons">
        <button
          type="button"
          class="btn btn-primary lihat-detail-btn"
          data-bs-toggle="modal"
          data-bs-target="#productDetailModal"
          data-nama="Acer Swift 5 Aerospace SF514-56T productnation"
          data-spesifikasi="Intel® Core™ i5-1240P, 16 GB LPDDR5, 512 GB , Layar Touch 14&quot;"
          data-deskripsi="Acer Swift 5 Aerospace SF514-56T adalah ultrabook premium dengan desain ringan dan elegan. Ditenagai prosesor Intel Core Generasi ke-12 dan layar sentuh WQXGA, laptop ini ideal untuk profesional dan pelajar yang membutuhkan performa tinggi dalam mobilitas tinggi."
          data-harga="Rp12.131.000 "
          data-img="img/acer/laptop10.jpg"
        >
          Lihat Detail
        </button>
        <a href="https://youtu.be/NC19MDtrzyY?si=FUHFWu4yLKRpFGV2"
           class="btn btn-danger"
           target="_blank">
          Tonton Review di YouTube
        </a>
      </div>
    </div>
  </div>
</div>

<!-- Acer 8 -->
<div class="col-md-4">
  <div class="product-card">
    <div class="product-img">
      <img src="img/acer/laptop11.jpg" alt="ASUS Chromebook CX34 Flip" />
    </div>
    <div class="product-content">
      <div class="product-title">Acer Swift 3 NOW SF314-512 productnation</div>
      <div class="product-specs"> Intel® Core™i7-1260P , 16 GB LPDDR4X, 1 TB SSD PCIe Gen4 NVMe, Layar 14"</div>
      <div class="product-price"> Rp20.499.000 </div>
      <div class="product-buttons">
        <button
          type="button"
          class="btn btn-primary lihat-detail-btn"
          data-bs-toggle="modal"
          data-bs-target="#productDetailModal"
          data-nama="Acer Swift 3 NOW SF314-512 productnation"
          data-spesifikasi="Intel® Core™i7-1260P , 16 GB LPDDR4X, 1 TB SSD PCIe Gen4 NVMe, Layar 14"&quot;"
          data-deskripsi="Acer Swift 3 NOW SF314-512 adalah laptop ringkas dan stylish yang ditenagai prosesor Intel Core Generasi ke-12. Cocok untuk mahasiswa dan profesional muda, laptop ini menghadirkan performa cepat dan layar QHD tajam dalam desain ringan untuk produktivitas saat bepergian."
          data-harga=" Rp20.499.000 "
          data-img="img/acer/laptop11.jpg"
        >
          Lihat Detail
        </button>
        <a href="https://youtu.be/bIP2j9r2FRg?si=Ai1S1FI5pyr1oGlr"
           class="btn btn-danger"
           target="_blank">
          Tonton Review di YouTube
        </a>
      </div>
    </div>
  </div>
</div>

<!-- Acer 9 -->
<div class="col-md-4">
  <div class="product-card">
    <div class="product-img">
      <img src="img/acer/laptop12.jpg" alt="ASUS Chromebook Plus Enterprise CX34" />
    </div>
    <div class="product-content">
      <div class="product-title">Acer Swift Go 14 OLED SFG14-71 productnation</div>
      <div class="product-specs">Intel® Core™ i7-13700H (Intel Evo Certified), 16 GB LPDDR5, 1 TB SSD PCIe Gen4 NVMe, Layar 14"</div>
      <div class="product-price">Rp15.990.000</div>
      <div class="product-buttons">
        <button
          type="button"
          class="btn btn-primary lihat-detail-btn"
          data-bs-toggle="modal"
          data-bs-target="#productDetailModal"
          data-nama="Acer Swift Go 14 OLED SFG14-71 productnation"
          data-spesifikasi="Intel® Core™ i7-13700H (Intel Evo Certified), 16 GB LPDDR5, 1 TB SSD PCIe Gen4 NVMe, Layar 14&quot;"
          data-deskripsi="Acer Swift Go 14 OLED SFG14-71 adalah ultrabook premium dengan layar OLED 2.8K yang memukau dan prosesor Intel Core Generasi ke-13. Dirancang untuk profesional dan pelajar yang membutuhkan mobilitas tinggi, laptop ini menawarkan performa cepat, desain ringan, dan fitur AI canggih untuk produktivitas maksimal."
          data-harga="Rp15.990.000"
          data-img="img/acer/laptop12.jpg"
        >
          Lihat Detail
        </button>
        <a href="https://youtu.be/u7XxuE2tqoM?si=QRZ0fYOUXVaiW4bl"
           class="btn btn-danger"
           target="_blank">
          Tonton Review di YouTube
        </a>
      </div>
    </div>
  </div>
</div>

<!-- Asus 10 -->
<div class="col-md-4">
  <div class="product-card">
    <div class="product-img">
      <img src="img/acer/laptop13.png" alt="ASUS Zenbook Pro 14 Duo OLED" />
    </div>
    <div class="product-content">
      <div class="product-title">Acer ConceptD 3 Ezel Pro</div>
      <div class="product-specs">Intel® Core™ i7-10750H, GTX 1650, 16 GB DDR4, 512 GB SSD</div>
      <div class="product-price"> Rp 31.999.000</div>
      <div class="product-buttons">
        <button
          type="button"
          class="btn btn-primary lihat-detail-btn"
          data-bs-toggle="modal"
          data-bs-target="#productDetailModal"
          data-nama="Acer ConceptD 3 Ezel Pro"
          data-spesifikasi="Intel® Core™ i7-10750H, GTX 1650, 16 GB DDR4, 512 GB SSD"
          data-deskripsi="Acer ConceptD 3 Ezel adalah pilihan tepat bagi para profesional kreatif yang membutuhkan laptop dengan fleksibilitas tinggi dan performa andal. Engsel Ezel™ memungkinkan berbagai mode penggunaan, memudahkan presentasi dan proses kreatif. Dengan layar berkualitas tinggi dan dukungan stylus, laptop ini mendukung produktivitas dalam desain grafis, ilustrasi, dan pekerjaan kreatif lainnya."
          data-harga=" Rp 31.999.000"
          data-img="img/acer/laptop13.png"
        >
          Lihat Detail
        </button>
        <a href="https://youtu.be/Wjgbbp1mU-8?si=V9ny2wSWVuWiTC20"
           class="btn btn-danger"
           target="_blank">
          Tonton Review di YouTube
        </a>
      </div>
    </div>
  </div>
</div>

<!-- Asus 11 -->
<div class="col-md-4">
  <div class="product-card">
    <div class="product-img">
      <img src="img/acer/laptop14-removebg-preview.png" alt="ExpertBook B9 OLED" />
    </div>
    <div class="product-content">
      <div class="product-title">Acer ConceptD 9</div>
      <div class="product-specs">Intel® Core™ i9-9980HK ,RTX™ 2080, 32 GB DDR4 SDRAM, 1 TB SSD PCIe NVMe, Layar 17.3"</div>
      <div class="product-price">Rp75.199.957</div>
      <div class="product-buttons">
        <button
          type="button"
          class="btn btn-primary lihat-detail-btn"
          data-bs-toggle="modal"
          data-bs-target="#productDetailModal"
          data-nama="Acer ConceptD 9"
          data-spesifikasi="Intel® Core™ i9-9980HK ,RTX™ 2080, 32 GB DDR4 SDRAM, 1 TB SSD PCIe NVMe, Layar 17.3&quot;"
          data-deskripsi="Acer ConceptD 9 adalah laptop konvertibel 2-in-1 dengan engsel Ezel™ yang memungkinkan berbagai mode penggunaan, ideal untuk desainer grafis, ilustrator, dan profesional kreatif lainnya. Ditenagai oleh prosesor Intel® Core™ i9 Generasi ke-9 dan kartu grafis NVIDIA® GeForce RTX™ 2080, laptop ini menawarkan layar sentuh 17.3 4K UHD dengan akurasi warna tinggi, mendukung stylus aktif untuk pengalaman menggambar yang alami"
          data-harga="Rp75.199.957"
          data-img="img/acer/laptop14-removebg-preview.png"
        >
          Lihat Detail
        </button>
        <a href="https://youtu.be/M92OQH6b1X0?si=_Incq1lSEuFK1xTF"
           class="btn btn-danger"
           target="_blank">
          Tonton Review di YouTube
        </a>
      </div>
    </div>
  </div>
</div>

<!-- Asus 12 -->
<div class="col-md-4">
  <div class="product-card">
    <div class="product-img">
      <img src="img/acer/laptop15__1_-removebg-preview (1).png" alt="ASUS TUF Gaming A14" />
    </div>
    <div class="product-content">
      <div class="product-title"> Acer Swift X 14</div>
      <div class="product-specs"> Intel® Core™ i7-13700H, RTX™ 4050, 32 GB LPDDR5, 1 TB SSD PCIe Gen4 NVMe,Layar 14.5 inc</div>
      <div class="product-price">Rp24.499.000</div>
      <div class="product-buttons">
        <button
          type="button"
          class="btn btn-primary lihat-detail-btn"
          data-bs-toggle="modal"
          data-bs-target="#productDetailModal"
          data-nama="Acer Swift X 14"
          data-spesifikasi="Intel® Core™ i7-13700H, RTX™ 4050, 32 GB LPDDR5, 1 TB SSD PCIe Gen4 NVMe,Layar 14.5 inc&quot;"
          data-deskripsi="Acer Swift X 14 (SFX14-71G) adalah laptop tipis dan ringan yang dirancang untuk para kreator dan profesional. Ditenagai prosesor Intel® Core™ i7 Generasi ke-13 dan grafis NVIDIA® GeForce RTX™ 4050, laptop ini menawarkan performa tinggi dalam desain elegan dan portabel. Layar OLED 14.5" WQXGA+ memberikan visual yang tajam dan akurat, ideal untuk pekerjaan desain, editing, dBan multitasking"
          data-harga="Rp24.499.000"
          data-img="img/acer/laptop15__1_-removebg-preview (1).png"
        >
          Lihat Detail
        </button>
        <a href="https://youtu.be/lG5msuR_Alg?si=5ctcrYDqbbx-Acpt"
           class="btn btn-danger"
           target="_blank">
          Tonton Review di YouTube
        </a>
      </div>
    </div>
  </div>
</div>

<!-- Asus 13 -->
<div class="col-md-4">
  <div class="product-card">
    <div class="product-img">
      <img src="img/acer/laptop16.1.jpg" alt="Acer Aspire 3" />
    </div>
    <div class="product-content">
      <div class="product-title">Acer Aspire 3 Slim (A314-22)</div>
      <div class="product-specs"> Intel® Celeron® N5100, 4 GB RAM, 256 GB SSD,Layar 14 inc</div>
      <div class="product-price">Rp3.150.000</div>
      <div class="product-buttons">
        <button
          type="button"
          class="btn btn-primary lihat-detail-btn"
          data-bs-toggle="modal"
          data-bs-target="#productDetailModal"
          data-nama="Acer Aspire 3"
          data-spesifikasi="Intel® Celeron® N5100, 4 GB RAM, 256 GB SSD,Layar 14 inc&quot;"
          data-deskripsi="Acer Aspire 3 adalah laptop ringkas dan terjangkau yang dirancang untuk produktivitas harian. Ditenagai oleh prosesor Intel® atau AMD, laptop ini menawarkan performa yang cukup untuk tugas-tugas ringan seperti browsing, pengolahan dokumen, dan streaming. Desainnya yang ramping dan ringan memudahkan mobilitas, menjadikannya pilihan ideal bagi pelajar dan profesional yang sering bepergian."
          data-harga="Rp3.150.000"
          data-img="img/acer/laptop16.1.jpg"
        >
          Lihat Detail
        </button>
        <a href="https://youtu.be/-eYSRSS38_4?si=poCc-Z_5L3WPf3cH"
           class="btn btn-danger"
           target="_blank">
          Tonton Review di YouTube
        </a>
      </div>
    </div>
  </div>
</div>

<!-- Asus 14 -->
<div class="col-md-4">
  <div class="product-card">
    <div class="product-img">
      <img src="img/acer/laptop17__1_-removebg-preview.png" alt="ASUS Vivobook 15 F512DA" />
    </div>
    <div class="product-content">
      <div class="product-title">Acer Chromebook 314 </div>
      <div class="product-specs">Intel® Celeron® N4500, 4 GB, 128 GB eMMC SSD, Layar 14 inc"</div>
      <div class="product-price">Rp3.150.000</div>
      <div class="product-buttons">
        <button
          type="button"
          class="btn btn-primary lihat-detail-btn"
          data-bs-toggle="modal"
          data-bs-target="#productDetailModal"
          data-nama="Acer Chromebook 314"
          data-spesifikasi="Intel® Celeron® N4500, 4 GB, 128 GB eMMC SSD, Layar 14 inc&quot;"
          data-deskripsi="Acer Chromebook 314 adalah laptop ringkas dan terjangkau yang dirancang untuk produktivitas harian. Ditenagai oleh prosesor Intel® Celeron® atau Pentium® Silver, laptop ini menawarkan performa yang cukup untuk tugas-tugas ringan seperti browsing, pengolahan dokumen, dan streaming. Desainnya yang ramping dan ringan memudahkan mobilitas, menjadikannya pilihan ideal bagi pelajar dan profesional yang sering bepergian."
          data-harga="Rp3.150.000"
          data-img="img/acer/laptop17__1_-removebg-preview.png"
        >
          Lihat Detail
        </button>
        <a href="https://youtu.be/fCJvGcVCV2E?si=Ypr3cTLE75DAUM_i"
           class="btn btn-danger"
           target="_blank">
          Tonton Review di YouTube
        </a>
      </div>
    </div>
  </div>
</div>

<!-- Asus 15 -->
<div class="col-md-4">
  <div class="product-card">
    <div class="product-img">
      <img src="img/acer/laptop18.jpg" alt="Acer Chromebook 514" />
    </div>
    <div class="product-content">
      <div class="product-title">Acer Chromebook 514</div>
      <div class="product-specs">Intel® Core™ i3-1115G4, 8 GB LPDDR4X RAM, 128 GB SSD,Layar 14 inc</div>
      <div class="product-price"> Rp4.500.000</div>
      <div class="product-buttons">
        <button
          type="button"
          class="btn btn-primary lihat-detail-btn"
          data-bs-toggle="modal"
          data-bs-target="#productDetailModal"
          data-nama="Acer Chromebook 514"
          data-spesifikasi="Intel® Core™ i3-1115G4, 8 GB LPDDR4X RAM, 128 GB SSD, Layar 14 inc&quot;"
          data-deskripsi="Acer Chromebook 514 adalah laptop ringkas dan terjangkau yang dirancang untuk produktivitas harian. Ditenagai oleh prosesor Intel® Core™ i3 Generasi ke-11 atau MediaTek Kompanio 828, laptop ini menawarkan performa yang cukup untuk tugas-tugas ringan seperti browsing, pengolahan dokumen, dan streaming. Desainnya yang ramping dan ringan memudahkan mobilitas, menjadikannya pilihan ideal bagi pelajar dan profesional yang sering bepergian."
          data-harga=" Rp4.500.000"
          data-img="img/acer/laptop18.jpg"
        >
          Lihat Detail
        </button>
        <a href="https://youtu.be/zDqCwX0G7Pc?si=soA9MZf5nsxYRxI8"
           class="btn btn-danger"
           target="_blank">
          Tonton Review di YouTube
        </a>
      </div>
    </div>
  </div>
</div>

  <!-- Asus 16 -->
<div class="col-md-4">
  <div class="product-card">
    <div class="product-img">
      <img src="img/acer/laptop19.png" alt="Acer TravelMate Spin B3" />
    </div>
    <div class="product-content">
      <div class="product-title">Acer TravelMate Spin B3</div>
      <div class="product-specs"> Intel® Celeron® N4020,  4 GB DDR4 Onboard RAM, 256 GB SSD,Layar 11.6 inc</div>
      <div class="product-price">Rp5.700.000</div>
      <div class="product-buttons">
        <button
          type="button"
          class="btn btn-primary lihat-detail-btn"
          data-bs-toggle="modal"
          data-bs-target="#productDetailModal"
          data-nama="Acer TravelMate Spin B3"
          data-spesifikasi="Intel® Celeron® N4020,  4 GB DDR4 Onboard RAM, 256 GB SSD,Layar 11.6 inc&quot;"
          data-deskripsi="Acer TravelMate Spin B3 adalah laptop 2-in-1 yang fleksibel dan tangguh, ideal untuk kebutuhan pendidikan dan produktivitas harian. Dilengkapi dengan layar sentuh 11,6 inci yang dapat diputar 360 derajat, perangkat ini memungkinkan penggunaan dalam berbagai mode, seperti laptop, tablet, tent, dan stand. Dengan desain yang tahan banting dan fitur-fitur keamanan tambahan, laptop ini cocok untuk lingkungan belajar yang dinamis.."
          data-harga="Rp5.700.000"
          data-img="img/acer/laptop19.png"
        >
          Lihat Detail
        </button>
        <a href="https://youtu.be/MOW-QVw3JFo?si=CDRh04Ooe3aK6zj1"
           class="btn btn-danger"
           target="_blank">
          Tonton Review di YouTube
        </a>
      </div>
    </div>
  </div>
</div>

  <!-- Asus 16 -->
<div class="col-md-4">
  <div class="product-card">
    <div class="product-img">
      <img src="img/acer/laptop20.png" alt="Acer Extensa 15" />
    </div>
    <div class="product-content">
      <div class="product-title">Acer Extensa 15</div>
      <div class="product-specs">Intel® Core™ i5-1135G7, 8 GB DDR4 RAM, 512 GB SSD,layar 15.6 inc</div>
      <div class="product-price"> Rp5.700.000 </div>
      <div class="product-buttons">
        <button
          type="button"
          class="btn btn-primary lihat-detail-btn"
          data-bs-toggle="modal"
          data-bs-target="#productDetailModal"
          data-nama="Acer Extensa 15"
          data-spesifikasi="Intel® Core™ i5-1135G7, 8 GB DDR4 RAM, 512 GB SSD,layar 15.6 inc&quot;"
          data-deskripsi="Acer Extensa 15 EX215-54 adalah laptop 15,6 inci yang dirancang untuk pengguna bisnis dan pelajar yang membutuhkan perangkat andal untuk tugas sehari-hari. Dilengkapi dengan prosesor Intel® Core™ Generasi ke-11, laptop ini menawarkan performa yang cukup untuk multitasking ringan hingga sedang. Desainnya yang ramping dan ringan memudahkan mobilitas, menjadikannya pilihan ideal bagi profesional yang sering bepergian.."
          data-harga=" Rp5.700.000 "
          data-img="img/acer/laptop20.png"
        >
          Lihat Detail
        </button>
        <a href="https://youtu.be/iJa1WVVmYBo?si=I-rkjn7Lb0pA7H0M"
           class="btn btn-danger"
           target="_blank">
          Tonton Review di YouTube
        </a>
      </div>
    </div>
  </div>
</div>

  <!-- Asus 16 -->
<div class="col-md-4">
  <div class="product-card">
    <div class="product-img">
      <img src="img/acer/laptop21.jpg" alt="ASUS ProArt Studiobook 16 OLED" />
    </div>
    <div class="product-content">
      <div class="product-title">Acer Nitro 5 (AN517)</div>
      <div class="product-specs">Intel® Core™ i5-1135G7, 8 GB DDR4 RAM, 512 GB SSD,Layar 15.6 inc</div>
      <div class="product-price"> Rp5.700.000 </div>
      <div class="product-buttons">
        <button
          type="button"
          class="btn btn-primary lihat-detail-btn"
          data-bs-toggle="modal"
          data-bs-target="#productDetailModal"
          data-nama="Acer Nitro 5 (AN517)"
          data-spesifikasi="Intel® Core™ i5-1135G7, 8 GB DDR4 RAM, 512 GB SSD,Layar 15.6 inc&quot;"
          data-deskripsi="Acer Extensa 15 EX215-54 adalah laptop 15,6 inci yang dirancang untuk pengguna bisnis dan pelajar yang membutuhkan perangkat andal untuk tugas sehari-hari. Dilengkapi dengan prosesor Intel® Core™ Generasi ke-11, laptop ini menawarkan performa yang cukup untuk multitasking ringan hingga sedang. Desainnya yang ramping dan ringan memudahkan mobilitas, menjadikannya pilihan ideal bagi profesional yang sering bepergian.."
          data-harga=" Rp5.700.000 "
          data-img="img/acer/laptop21.jpg"
        >
          Lihat Detail
        </button>
        <a href="https://youtu.be/9KG5xfe08UU?si=QipYpmxrbNIzMuzi"
           class="btn btn-danger"
           target="_blank">
          Tonton Review di YouTube
        </a>
      </div>
    </div>
  </div>
</div>
       
        </div>
      </div>
    </div>

    <!-- Modal Detail Produk -->
    <div class="modal fade" id="productDetailModal" tabindex="-1" aria-labelledby="productDetailModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="productDetailModalLabel">Detail Produk</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" id="productDetailContent">
            <!-- Content will be loaded dynamically -->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
            <a href="https://wa.me/628983052203" target="_blank" class="btn btn-primary">Beli Sekarang</a>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid copyright py-4">
      <div class="container">
        <div class="row g-4 align-items-center">
          <div class="col-md-6 text-center text-md-start mb-md-0">
            <span class="text-light"
              ><a href="#"
                ><i class="fas fa-copyright text-light me-2"></i>Ikhsan's Tech
                World</a
              >, All right reserved.</span
            >
          </div>
          <div class="col-md-6">
            <div class="d-flex justify-content-center">
              <a
                href="https://www.facebook.com/profile.php?id=100015133152267"
                class="btn btn-light btn-light-outline-0 btn-sm-square rounded-circle me-2"
                ><i class="fab fa-facebook-f"></i
              ></a>
              <a
                href="https://x.com/ikhsannrsptra"
                class="btn btn-light btn-light-outline-0 btn-sm-square rounded-circle me-2"
                ><i class="fab fa-twitter"></i
              ></a>
              <a
                href="https://www.instagram.com/ikhsannrsptra?igsh=MXNrOGJxN3dqaXA2aQ=="
                class="btn btn-light btn-light-outline-0 btn-sm-square rounded-circle me-2"
                ><i class="fab fa-instagram"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <a
      href="#"
      class="btn btn-primary btn-primary-outline-0 btn-md-square rounded-circle back-to-top"
      ><i class="fa fa-arrow-up"></i
    ></a>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
