<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Ikhsan's Tech World</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="keywords" />
    <meta content="" name="description" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=PT+Serif:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
      rel="stylesheet"
    />

    <link href="lib/animate/animate.min.css" rel="stylesheet" />

    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet" />

    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
    <script src="style.js"></script>
  </head>

  <body>
    <div class="container-fluid sticky-top px-0">
      <div class="container-fluid bg-light">
        <div class="container px-0">
          <nav class="navbar navbar-light navbar-expand-xl">
            <a href="index.html" class="navbar-brand">
              <h1 class="text-primary display-6">Ikhsan's Tech World</h1>
            </a>
            <button
              class="navbar-toggler py-2 px-3"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarCollapse"
            >
              <span class="fa fa-bars text-primary"></span>
            </button>
            <div
              class="collapse navbar-collapse bg-light py-3"
              id="navbarCollapse"
            >
              <div class="navbar-nav ms-auto border-top">
                <a href="index.html" class="nav-item nav-link">Home</a>
                <div class="nav-item dropdown">
                  <a
                    href="#"
                    class="nav-link dropdown-toggle active"
                    data-bs-toggle="dropdown"
                    >Produk</a
                  >
                  <div class="dropdown-menu m-0">
                    <a href="asus.html" class="dropdown-item">Asus</a>
                    <a href="acer.html" class="dropdown-item">Acer</a>
                    <a href="lenovo.html" class="dropdown-item ">Lenovo</a>
                    <a href="DELL.html" class="dropdown-item">DELL</a>
                    <a href="axioo.html" class="dropdown-item">axioo</a>
                  </div>
                </div>
                <a href="rekomendasi.html" class="nav-item nav-link"
                  >Rekomendasi</a
                >
                <a href="kontak.html" class="nav-item nav-link">Kontak</a>
                <a href="daftar.html" class="nav-item nav-link">Daftar</a>
                <a href="login.html" class="nav-item nav-link">Login</a>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>

    <div class="container-fluid py-5">
      <div class="container py-5">
        <div class="text-center my-5">
          <h1 class="display-4 fw-bold">Laptop Axioo Terbaik</h1>
          <p class="lead">Didesain untuk produktivitas dan mobilitas tinggi.</p>
        </div>

        <div class="row g-4">
         <!-- axioo 1 -->
<div class="col-md-4">
  <div class="product-card">
    <div class="product-img">
      <img src="img/axioo/laptop1.jpeg" alt="Axioo Pongo 725" />
    </div>
    <div class="product-content">
      <div class="product-title">Axioo Pongo 725</div>
      <div class="product-specs">Intel i5, RTX 2050, 16GB DDR4 3200MHz (dual-channel, dapat di-upgrade hingga 64GB) RAM, 512GB SSD PCIe Gen 4×4 NVMe, dengan slot M.2 tambahan untuk ekspansi, Layar 15.6 FHD"</div>
      <div class="product-price">Rp10.499.000</div>
      <div class="product-buttons">
        <button
          type="button"
          class="btn btn-primary lihat-detail-btn"
          data-bs-toggle="modal"
          data-bs-target="#productDetailModal"
          data-nama="Axioo Pongo 725"
          data-spesifikasi=" Intel i5, RTX 2050, 16GB DDR4 3200MHz (dual-channel, dapat di-upgrade hingga 64GB) RAM, 512GB SSD PCIe Gen 4×4 NVMe, dengan slot M.2 tambahan untuk ekspansi, Layar 15.6 FHD&quot;"
          data-deskripsi="Axioo Pongo 725 adalah laptop gaming terjangkau dari Axioo yang menawarkan performa tinggi untuk kebutuhan gaming dan produktivitas. Ditenagai oleh prosesor Intel® Core™ i7-12650H dan kartu grafis NVIDIA® GeForce RTX 2050, laptop ini mampu menjalankan berbagai game modern dan aplikasi berat dengan lancar."
          data-harga="Rp10.499.000"
          data-img="img/axioo/laptop1.jpeg"
        >
          Lihat Detail
        </button>
        <a href="https://youtu.be/cRJsPXeH9NY?si=cH3dEd3hZsKUm_Nc"
           class="btn btn-danger"
           target="_blank">
          Tonton Review di YouTube
        </a>
      </div>
    </div>
  </div>
</div>

<!-- axio 2 -->
<div class="col-md-4">
  <div class="product-card">
    <div class="product-img">
      <img src="img/axioo/laptop2.png" alt="Axioo Pongo 750" />
    </div>
    <div class="product-content">
      <div class="product-title">Axioo Pongo 750</div>
      <div class="product-specs">Intel® Core™ i7-13620H, RTX™ 4050 , 16GB DDR4 3200MHz (dual-channel, dapat di-upgrade hingga 64GB) RAM, 512GB, Layar 15.6 FHD"</div>
      <div class="product-price">Rp13.999.000</div>
      <div class="product-buttons">
        <button
          type="button"
          class="btn btn-primary lihat-detail-btn"
          data-bs-toggle="modal"
          data-bs-target="#productDetailModal"
          data-nama="Axioo Pongo 750"
          data-spesifikasi="Intel Celeron N4500, 8GB RAM, 512GB, Layar 15.6&quot;"
          data-deskripsi="Axioo Pongo 750 adalah laptop gaming 15,6 inci yang dirancang untuk para gamer dan kreator konten yang membutuhkan performa tinggi dengan anggaran terjangkau. Ditenagai oleh prosesor Intel® Core™ i7-13620H dan kartu grafis NVIDIA® GeForce RTX™ 4050, laptop ini mampu menjalankan berbagai game modern dan aplikasi berat dengan lancar."
          data-harga="Rp13.999.000"
          data-img="img/axioo/laptop2.png"
        >
          Lihat Detail
        </button>
        <a href="https://youtu.be/7GbO-OTJ5J8?si=YDyOuZO8gAIUFpVR"
           class="btn btn-danger"
           target="_blank">
          Tonton Review di YouTube
        </a>
      </div>
    </div>
  </div>
</div>

<!-- Axioo 3 -->
<div class="col-md-4">
  <div class="product-card">
    <div class="product-img">
      <img src="img/axioo/laptop3.png" alt="Axioo Pongo Monster X" />
    </div>
    <div class="product-content">
      <div class="product-title">Axioo Pongo Monster X</div>
      <div class="product-specs">Intel® Core™ i9-14900HX, RTX™ 4090, 32GB DDR5 5200MHz (dual-channel, dapat di-upgrade hingga 64GB) RAM, 2TB SSD PCIe Gen 4×4 NVMe,Layar 16 WQHD</div>
      <div class="product-price">Rp61.999.000</div>
      <div class="product-buttons">
        <button
          type="button"
          class="btn btn-primary lihat-detail-btn"
          data-bs-toggle="modal"
          data-bs-target="#productDetailModal"
          data-nama="Axioo Pongo Monster X"
          data-spesifikasi="Intel® Core™ i9-14900HX, RTX™ 4090, 32GB DDR5 5200MHz (dual-channel, dapat di-upgrade hingga 64GB) RAM, 2TB SSD PCIe Gen 4×4 NVMe,Layar 16 WQHD&quot;"
          data-deskripsi="Axioo Pongo Monster X adalah laptop gaming kelas atas dari Axioo yang dirancang untuk para gamer profesional dan kreator konten yang membutuhkan performa ekstrem. Dengan spesifikasi hardware terkini, laptop ini mampu menangani game AAA, rendering video 4K, dan tugas berat lainnya dengan mudah."
          data-harga="Rp61.999.000"
          data-img="img/axioo/laptop3.png"
        >
          Lihat Detail
        </button>
        <a href="https://youtu.be/FAG1B-lIcyI?si=AxCiIpyAEb0tjrCU"
           class="btn btn-danger"
           target="_blank">
          Tonton Review di YouTube
        </a>
      </div>
    </div>
  </div>
</div>

<!-- axioo 4 -->
<div class="col-md-4">
  <div class="product-card">
    <div class="product-img">
      <img src="img/axioo/laptop4.webp" alt=" Axioo Hype 5 AMD X6" />
    </div>
    <div class="product-content">
      <div class="product-title"> Axioo Hype 5 AMD X6 </div>
      <div class="product-specs">AMD Ryzen™ 5 6600H , 16GB DDR5 4800MHz RAM, 512GB SSD, Layar 14 inc"</div>
      <div class="product-price">Rp7.259.000 </div>
      <div class="product-buttons">
        <button
          type="button"
          class="btn btn-primary lihat-detail-btn"
          data-bs-toggle="modal"
          data-bs-target="#productDetailModal"
          data-nama="Axioo Hype 5 AMD X6"
          data-spesifikasi="AMD Ryzen™ 5 6600H , 16GB DDR5 4800MHz RAM, 512GB SSD, Layar 14 inc&quot;"
          data-deskripsi="Axioo Hype 5 AMD X6 adalah laptop kelas menengah dari Axioo yang menawarkan performa tinggi dengan harga terjangkau. Ditenagai oleh prosesor AMD Ryzen™ 5 6600H dan grafis terintegrasi AMD Radeon™ 660M, laptop ini cocok untuk kebutuhan produktivitas, multitasking, dan hiburan ringan."
          data-harga="Rp7.259.000 "
          data-img="img/axioo/laptop4.webp"
        >
          Lihat Detail
        </button>
        <a href="https://youtu.be/WAy21Dc-5is?si=FaPKvJPu8pLtvXpr"
           class="btn btn-danger"
           target="_blank">
          Tonton Review di YouTube
        </a>
      </div>
    </div>
  </div>
</div>

<!-- axioo 5 -->
<div class="col-md-4">
  <div class="product-card">
    <div class="product-img">
      <img src="img/axioo/laptop5.webp" alt="ASUS Gaming V16 (V3607V)" />
    </div>
    <div class="product-content">
      <div class="product-title">Axioo MyBook Hype 5 G12</div>
      <div class="product-specs">Intel® Core™ i5-1235U , 16GB DDR4 (dapat di-upgrade hingga 64GB) RAM, 512GB SSD M.2 NVMe PCIe, Layar 14 FHD</div>
      <div class="product-price">Rp6.049.000</div>
      <div class="product-buttons">
        <button
          type="button"
          class="btn btn-primary lihat-detail-btn"
          data-bs-toggle="modal"
          data-bs-target="#productDetailModal"
          data-nama="ASUS Gaming V16 (V3607V)"
          data-spesifikasi="Intel® Core™ i5-1235U , 16GB DDR4 (dapat di-upgrade hingga 64GB) RAM, 512GB SSD M.2 NVMe PCIe, Layar 14 FHD&quot;"
          data-deskripsi="Axioo MyBook Hype 5 G12 adalah laptop 14 inci yang dirancang untuk produktivitas sehari-hari, multitasking, dan hiburan ringan. Ditenagai oleh prosesor Intel® Core™ i5-1235U Generasi ke-12 dan grafis Intel® Iris® Xe, laptop ini mampu menjalankan berbagai aplikasi dengan lancar."
          data-harga="Rp6.049.000"
          data-img="img/axioo/laptop5.webp"
        >
          Lihat Detail
        </button>
        <a href="https://youtu.be/IYwvIhPnMOU?si=6t7W3G3m-5EpE94L"
           class="btn btn-danger"
           target="_blank">
          Tonton Review di YouTube
        </a>
      </div>
    </div>
  </div>
</div>

<!-- axioo 6 -->
<div class="col-md-4">
  <div class="product-card">
    <div class="product-img">
      <img src="img/axioo/laptop6.webp" alt="Axioo Pongo Studio X" />
    </div>
    <div class="product-content">
      <div class="product-title"> Axioo Pongo Studio X</div>
      <div class="product-specs">Intel® Core™ i9-13900H,  RTX™ 4070, 32GB DDR5 (2x16GB), dapat di-upgrade hingga 64GB RAM, 1TB SSD M.2 PCIe Gen 4x4 NVMe, Layar 16 inc"</div>
      <div class="product-price">Rp29.999.000</div>
      <div class="product-buttons">
        <button
          type="button"
          class="btn btn-primary lihat-detail-btn"
          data-bs-toggle="modal"
          data-bs-target="#productDetailModal"
          data-nama="Axioo Pongo Studio X"
          data-spesifikasi="Intel® Core™ i9-13900H,  RTX™ 4070, 32GB DDR5 (2x16GB), dapat di-upgrade hingga 64GB RAM, 1TB SSD M.2 PCIe Gen 4x4 NVMe, Layar 16 inc&quot;"
          data-deskripsi="Axioo Pongo Studio X adalah laptop kelas atas yang dirancang khusus untuk para kreator konten dan profesional yang membutuhkan performa tinggi dalam pekerjaan seperti rendering, desain grafis, dan pengeditan video. Dengan kombinasi prosesor Intel® Core™ i9 generasi ke-13 dan GPU NVIDIA® GeForce RTX™ 4070, laptop ini menawarkan kinerja yang mumpuni untuk tugas-tugas berat.."
          data-harga="Rp29.999.000"
          data-img="img/axioo/laptop6.webp"
        >
          Lihat Detail
        </button>
        <a href="https://youtu.be/FAG1B-lIcyI?si=FDgYbeKNWkq8GJHb"
           class="btn btn-danger"
           target="_blank">
          Tonton Review di YouTube
        </a>
      </div>
    </div>
  </div>
</div>

<!-- axioo 7 -->
<div class="col-md-4">
  <div class="product-card">
    <div class="product-img">
      <img src="img/axioo/laptop7.webp" alt="Axioo HYPE 1" />
    </div>
    <div class="product-content">
      <div class="product-title">Axioo HYPE 1</div>
      <div class="product-specs">Intel Celeron, 4GB RAM, 128GB SSD M.2 SATA, Layar 14 HD inc"</div>
      <div class="product-price">Rp2.599.000</div>
      <div class="product-buttons">
        <button
          type="button"
          class="btn btn-primary lihat-detail-btn"
          data-bs-toggle="modal"
          data-bs-target="#productDetailModal"
          data-nama="Axioo HYPE 1"
          data-spesifikasi="Intel Celeron, 4GB RAM, 128GB SSD M.2 SATA, Layar 14 HD inc&quot;"
          data-deskripsi="Axioo Hype 1 adalah laptop entry-level yang dirancang untuk kebutuhan dasar seperti belajar, browsing, dan pekerjaan ringan. Dengan harga terjangkau, laptop ini cocok untuk pelajar, mahasiswa, atau pengguna yang membutuhkan perangkat komputasi sederhana."
          data-harga="Rp2.599.000"
          data-img="img/asus/laptop12.png"
        >
          Lihat Detail
        </button>
        <a href="https://youtu.be/7BOZW4yPe-k?si=3R7V8T5JnEvSkUI2"
           class="btn btn-danger"
           target="_blank">
          Tonton Review di YouTube
        </a>
      </div>
    </div>
  </div>
</div>

<!-- axioo 8 -->
<div class="col-md-4">
  <div class="product-card">
    <div class="product-img">
      <img src="img/axioo/laptop8.webp" alt="ASUS Chromebook CX34 Flip" />
    </div>
    <div class="product-content">
      <div class="product-title">Axioo HYPE 10</div>
      <div class="product-specs"> Intel® Celeron® N4020, 8GB DDR4 RAM, 256GB SSD, Layar 14"</div>
      <div class="product-price">Rp2.749.000</div>
      <div class="product-buttons">
        <button
          type="button"
          class="btn btn-primary lihat-detail-btn"
          data-bs-toggle="modal"
          data-bs-target="#productDetailModal"
          data-nama="ASUS Chromebook CX34 Flip (12th Gen Intel)"
          data-spesifikasi="Intel® Celeron® N4020, 8GB DDR4 RAM, 256GB SSD, Layar 14&quot;"
          data-deskripsi="Axioo Hype 10 adalah laptop entry-level yang dirancang untuk kebutuhan komputasi dasar seperti belajar, browsing, dan pekerjaan ringan. Dengan harga terjangkau, laptop ini cocok untuk pelajar, mahasiswa, atau pengguna yang membutuhkan perangkat komputasi sederhana."
          data-harga="Rp2.749.000"
          data-img="img/axioo/laptop8.webp"
        >
          Lihat Detail
        </button>
        <a href="https://youtu.be/L_QytDv-JHM?si=uOgpZVe9qoanlI55"
           class="btn btn-danger"
           target="_blank">
          Tonton Review di YouTube
        </a>
      </div>
    </div>
  </div>
</div>

<!-- axioo 9 -->
<div class="col-md-4">
  <div class="product-card">
    <div class="product-img">
      <img src="img/axioo/laptop9.webp" alt="Axioo HYPE 5 AMD" />
    </div>
    <div class="product-content">
      <div class="product-title">Axioo HYPE 5 AMD</div>
      <div class="product-specs">Intel® Celeron® N4020, 8GB DDR4 RAM, 256GB SSD, Layar 14 HD"</div>
      <div class="product-price">Rp2.699.000</div>
      <div class="product-buttons">
        <button
          type="button"
          class="btn btn-primary lihat-detail-btn"
          data-bs-toggle="modal"
          data-bs-target="#productDetailModal"
          data-nama="Axioo HYPE 5 AMD"
          data-spesifikasi="Intel® Celeron® N4020, 8GB DDR4 RAM, 256GB SSD, Layar 14 HD&quot;"
          data-deskripsi="Axioo Hype 10 adalah laptop entry-level yang dirancang untuk kebutuhan komputasi dasar seperti belajar, browsing, dan pekerjaan ringan. Dengan harga terjangkau, laptop ini cocok untuk pelajar, mahasiswa, atau pengguna yang membutuhkan perangkat komputasi sederhana."
          data-harga="Rp2.699.000"
          data-img="img/axioo/laptop9.webp"
        >
          Lihat Detail
        </button>
        <a href="https://youtu.be/AUUSU6kgxoc?si=4exZcUkjRyoXHmAH"
           class="btn btn-danger"
           target="_blank">
          Tonton Review di YouTube
        </a>
      </div>
    </div>
  </div>
</div>

<!-- axioo 10 -->
<div class="col-md-4">
  <div class="product-card">
    <div class="product-img">
      <img src="img/axioo/laptop10.webp" alt="Axioo MyBook Z6 Metal" />
    </div>
    <div class="product-content">
      <div class="product-title">Axioo MyBook Z6 Metal</div>
      <div class="product-specs">Intel Core i9-13900H, 8GB DDR4-3200 (dapat di-upgrade hingga 64GB melalui dua slot SODIMM) RAM,  256GB SSD NVMe PCIe,Layar 14 FHD (1920 x 1080) IPS</div>
      <div class="product-price">Rp5.450.000</div>
      <div class="product-buttons">
        <button
          type="button"
          class="btn btn-primary lihat-detail-btn"
          data-bs-toggle="modal"
          data-bs-target="#productDetailModal"
          data-nama="Axioo MyBook Z6 Metal"
          data-spesifikasi="Intel Core i9-13900H, 8GB DDR4-3200 (dapat di-upgrade hingga 64GB melalui dua slot SODIMM) RAM,  256GB SSD NVMe PCIe,Layar 14 FHD (1920 x 1080) IPS"
          data-deskripsi="Axioo MyBook Z6 Metal adalah laptop kelas menengah yang dirancang untuk produktivitas harian, multitasking ringan, dan hiburan. Dengan desain bodi logam yang kokoh dan layar IPS Full HD 14 inci, laptop ini menawarkan kombinasi antara performa, estetika, dan portabilitas"
          data-harga="Rp5.450.000"
          data-img="img/axioo/laptop10.webp"
        >
          Lihat Detail
        </button>
        <a href="https://youtu.be/sx7yhTiBodM?si=TCmqlrUULtjsDNdI"
           class="btn btn-danger"
           target="_blank">
          Tonton Review di YouTube
        </a>
      </div>
    </div>
  </div>
</div>

<!-- axioo 11 -->
<div class="col-md-4">
  <div class="product-card">
    <div class="product-img">
      <img src="img/axioo/laptop11.jpeg" alt="Axioo MyBook 14E" />
    </div>
    <div class="product-content">
      <div class="product-title">Axioo MyBook 14E</div>
      <div class="product-specs">Intel® Celeron® N4020 , 4GB DDR4 RAM, 256GB SSD NVMe , Layar 14 HD"</div>
      <div class="product-price">Rp2.944.050</div>
      <div class="product-buttons">
        <button
          type="button"
          class="btn btn-primary lihat-detail-btn"
          data-bs-toggle="modal"
          data-bs-target="#productDetailModal"
          data-nama="Axioo MyBook 14E"
          data-spesifikasi="Intel® Celeron® N4020 , 4GB DDR4 RAM, 256GB SSD NVMe , Layar 14 HD&quot;"
          data-deskripsi="Axioo MyBook 14E adalah laptop entry-level yang dirancang untuk kebutuhan komputasi dasar seperti belajar, browsing, dan pekerjaan ringan. Dengan harga terjangkau, laptop ini cocok untuk pelajar, mahasiswa, atau pengguna yang membutuhkan perangkat komputasi sederhana."
          data-harga="Rp2.944.050"
          data-img="img/axioo/laptop11.jpeg"
        >
          Lihat Detail
        </button>
        <a href="https://youtu.be/3ABXCFzvq3I?si=1rlC5OspgH9xboGj"
           class="btn btn-danger"
           target="_blank">
          Tonton Review di YouTube
        </a>
      </div>
    </div>
  </div>
</div>

<!-- lenovo 12 -->
<div class="col-md-4">
  <div class="product-card">
    <div class="product-img">
      <img src="img/axioo/laptop12.jpeg" alt="Axioo Slimbook 14" />
    </div>
    <div class="product-content">
      <div class="product-title">Axioo Slimbook 14</div>
      <div class="product-specs">AMD Ryzen 5 3500U ,  8GB DDR4 (dapat di-upgrade) RAM, Layar 14 Full HD SSD</div>
      <div class="product-price">Rp5.932.510</div>
      <div class="product-buttons">
        <button
          type="button"
          class="btn btn-primary lihat-detail-btn"
          data-bs-toggle="modal"
          data-bs-target="#productDetailModal"
          data-nama="Axioo Slimbook 14"
          data-spesifikasi="AMD Ryzen 9 8945HS, RTX 4070, 16GB RAM, 1TB SSD, Layar 14&quot;"
          data-deskripsi="Axioo Slimbook 14 adalah laptop kelas menengah dari Axioo yang dirancang untuk produktivitas harian, multitasking ringan, dan hiburan. Dengan desain bodi logam yang kokoh dan layar IPS Full HD 14 inci, laptop ini menawarkan kombinasi antara performa, estetika, dan portabilitas."
          data-harga="Rp5.932.510"
          data-img="img/asus/laptop17.png"
        >
          Lihat Detail
        </button>
        <a href="https://youtu.be/DoTmA5cjtJ4?si=x6yqXr3zKCRD9Egm"
           class="btn btn-danger"
           target="_blank">
          Tonton Review di YouTube
        </a>
      </div>
    </div>
  </div>
</div>


        </div>
      </div>
    </div>

    <!-- Modal Detail Produk -->
    <div class="modal fade" id="productDetailModal" tabindex="-1" aria-labelledby="productDetailModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="productDetailModalLabel">Detail Produk</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" id="productDetailContent">
            <!-- Content will be loaded dynamically -->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
            <a href="https://wa.me/628983052203" target="_blank" class="btn btn-primary">Beli Sekarang</a>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid copyright py-4">
      <div class="container">
        <div class="row g-4 align-items-center">
          <div class="col-md-6 text-center text-md-start mb-md-0">
            <span class="text-light"
              ><a href="#"
                ><i class="fas fa-copyright text-light me-2"></i>Ikhsan's Tech
                World</a
              >, All right reserved.</span
            >
          </div>
          <div class="col-md-6">
            <div class="d-flex justify-content-center">
              <a
                href="https://www.facebook.com/profile.php?id=100015133152267"
                class="btn btn-light btn-light-outline-0 btn-sm-square rounded-circle me-2"
                ><i class="fab fa-facebook-f"></i
              ></a>
              <a
                href="https://x.com/ikhsannrsptra"
                class="btn btn-light btn-light-outline-0 btn-sm-square rounded-circle me-2"
                ><i class="fab fa-twitter"></i
              ></a>
              <a
                href="https://www.instagram.com/ikhsannrsptra?igsh=MXNrOGJxN3dqaXA2aQ=="
                class="btn btn-light btn-light-outline-0 btn-sm-square rounded-circle me-2"
                ><i class="fab fa-instagram"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <a
      href="#"
      class="btn btn-primary btn-primary-outline-0 btn-md-square rounded-circle back-to-top"
      ><i class="fa fa-arrow-up"></i
    ></a>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>

