<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Ikhsan's Tech World</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="keywords" />
    <meta content="" name="description" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=PT+Serif:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
      rel="stylesheet"
    />

    <link href="lib/animate/animate.min.css" rel="stylesheet" />

    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet" />

    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
    <script src="style.js"></script>
  </head>

  <body>
    <div class="container-fluid sticky-top px-0">
      <div class="container-fluid bg-light">
        <div class="container px-0">
          <nav class="navbar navbar-light navbar-expand-xl">
            <a href="index.html" class="navbar-brand">
              <h1 class="text-primary display-6">Ikhsan's Tech World</h1>
            </a>
            <button
              class="navbar-toggler py-2 px-3"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarCollapse"
            >
              <span class="fa fa-bars text-primary"></span>
            </button>
            <div
              class="collapse navbar-collapse bg-light py-3"
              id="navbarCollapse"
            >
              <div class="navbar-nav ms-auto border-top">
                <a href="index.html" class="nav-item nav-link">Home</a>
                <div class="nav-item dropdown">
                  <a
                    href="#"
                    class="nav-link dropdown-toggle active"
                    data-bs-toggle="dropdown"
                    >Produk</a
                  >
                  <div class="dropdown-menu m-0">
                    <a href="asus.html" class="dropdown-item">Asus</a>
                    <a href="acer.html" class="dropdown-item">Acer</a>
                    <a href="lenovo.html" class="dropdown-item active"
                      >Lenovo</a
                    >
                    <a href="DELL.html" class="dropdown-item">DELL</a>
                    <a href="axioo.html" class="dropdown-item">axioo</a>
                  </div>
                </div>
                <a href="rekomendasi.html" class="nav-item nav-link"
                  >Rekomendasi</a
                >
                <a href="kontak.html" class="nav-item nav-link">Kontak</a>
                <a href="daftar.html" class="nav-item nav-link">Daftar</a>
                <a href="login.html" class="nav-item nav-link">Login</a>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>

    <div class="container-fluid py-5">
      <div class="container py-5">
        <div class="text-center my-5">
          <h1 class="display-4 fw-bold">Laptop DELL Terbaik</h1>
          <p class="lead">Didesain untuk produktivitas dan mobilitas tinggi.</p>
        </div>

        <div class="row g-4">
         <!-- DELL 1 -->
<div class="col-md-4">
  <div class="product-card">
    <div class="product-img">
      <img src="img/DELL/LAPTOP2.png" alt="Dell XPS 15" />
    </div>
    <div class="product-content">
      <div class="product-title">Dell XPS 15</div>
      <div class="product-specs"> Intel® Core™ i9-13900H , RTX™ 4060 ,64GB DDR5 RAM, 2TB M.2 PCIe NVMe SSD, Layar 15.6 OLED"</div>
      <div class="product-price">Rp44.100.000</div>
      <div class="product-buttons">
        <button
          type="button"
          class="btn btn-primary lihat-detail-btn"
          data-bs-toggle="modal"
          data-bs-target="#productDetailModal"
          data-nama="Dell XPS 15"
          data-spesifikasi="Intel i5, 8GB RAM, 512GB SSD, Layar 15.6&quot;"
          data-deskripsi="Dell XPS 15 adalah laptop premium yang menggabungkan desain elegan dengan performa tinggi, cocok untuk profesional kreatif, desainer, dan pengguna yang membutuhkan kinerja maksimal. Dengan layar 15,6 inci beresolusi tinggi, prosesor Intel® Core™ Generasi ke-13, dan kartu grafis NVIDIA® GeForce RTX™, XPS 15 menawarkan pengalaman visual dan kinerja yang luar biasa. Material aluminium dan serat karbon memberikan kesan mewah sekaligus kokoh."
          data-harga="Rp44.100.000"
          data-img="img/DELL/laptop2.png"
        >
          Lihat Detail
        </button>
        <a href="https://youtu.be/rz_fxwf04jw?si=id78Ex9qXUpct9Bh"
           class="btn btn-danger"
           target="_blank">
          Tonton Review di YouTube
        </a>
      </div>
    </div>
  </div>
</div>

<!-- DELL 2 -->
<div class="col-md-4">
  <div class="product-card">
    <div class="product-img">
      <img src="img/DELL/laptop3.png" alt="ASUS VivoBook E410" />
    </div>
    <div class="product-content">
      <div class="product-title">Dell Precision 5560</div>
      <div class="product-specs"> Intel® Core™ i9-11950H, 64GB DDR4 3200MHz RAM, 2TB M.2 PCIe NVMe SSD, Layar 15.6"</div>
      <div class="product-price"> Rp74.799.000</div>
      <div class="product-buttons">
        <button
          type="button"
          class="btn btn-primary lihat-detail-btn"
          data-bs-toggle="modal"
          data-bs-target="#productDetailModal"
          data-nama="Dell Precision 5560"
          data-spesifikasi="Intel® Core™ i9-11950H, 64GB DDR4 3200MHz RAM, 2TB M.2 PCIe NVMe SSD, Layar 15.6&quot;"
          data-deskripsi="Dell Precision 5560 adalah workstation mobile premium yang dirancang untuk para profesional di bidang desain grafis, rekayasa, arsitektur, dan produksi konten. Dengan kombinasi performa tinggi dan desain ramping, laptop ini menawarkan mobilitas tanpa mengorbankan kinerja. Ditenagai oleh prosesor Intel® Core™ Generasi ke-11 dan kartu grafis NVIDIA RTX™ atau Quadro™, Precision 5560 mampu menangani beban kerja berat dengan efisiensi tinggi."
          data-harga=" Rp74.799.000"
          data-img="img/DELL/laptop3.png"
        >
          Lihat Detail
        </button>
        <a href="https://youtu.be/KxP_S405QDU?si=1i6r-hxtanWdjimz"
           class="btn btn-danger"
           target="_blank">
          Tonton Review di YouTube
        </a>
      </div>
    </div>
  </div>
</div>

<!-- dell 3 -->
<div class="col-md-4">
  <div class="product-card">
    <div class="product-img">
      <img src="img/DELL/laptop4.png" alt="Dell Precision  7680" />
    </div>
    <div class="product-content">
      <div class="product-title">Dell Precision  7680</div>
      <div class="product-specs">Intel® Core™ i9-13950HX vPro®,  RTX™ A4000,  64GB DDR5 3200MHz RAM, 2TB M.2 PCIe NVMe SSD,Layar 16 inc</div>
      <div class="product-price"> Rp92.769.900</div>
      <div class="product-buttons">
        <button
          type="button"
          class="btn btn-primary lihat-detail-btn"
          data-bs-toggle="modal"
          data-bs-target="#productDetailModal"
          data-nama="Dell Precision  7680"
          data-spesifikasi="Intel® Core™ i9-11950H,  RTX A2000 ,  64GB DDR4 3200MHz RAM, 2TB M.2 PCIe NVMe SSD,Layar 16 inc&quot;"
          data-deskripsi="Dell Precision 7680 adalah workstation mobile 16 inci kelas atas yang dirancang untuk profesional di bidang teknik, arsitektur, animasi 3D, dan AI. Laptop ini menawarkan performa tinggi dengan prosesor Intel® Core™ Generasi ke-13 hingga i9-13950HX (24 core, 32 thread) dan kartu grafis NVIDIA RTX™ seri Ada hingga RTX 5000 16GB. Fitur lainnya mencakup RAM hingga 128GB DDR5, penyimpanan SSD hingga 4TB, dan pilihan layar FHD+ atau UHD+ dengan kecerahan hingga 500 nits."
          data-harga=" Rp92.769.900"
          data-img="img/DELL/laptop4.png"
        >
          Lihat Detail
        </button>
        <a href="https://youtu.be/B8glkY8uMVE?si=7nkJa0UAKwNzg4Gh"
           class="btn btn-danger"
           target="_blank">
          Tonton Review di YouTube
        </a>
      </div>
    </div>
  </div>
</div>

<!-- del 4 -->
<div class="col-md-4">
  <div class="product-card">
    <div class="product-img">
      <img src="img/DELL/laptop5.png" alt="ASUS Chromebook C523" />
    </div>
    <div class="product-content">
      <div class="product-title">Laptop Dell Inspiron 16 Plus 7630</div>
      <div class="product-specs">Intel® Core™ i7-13700H, 16GB DDR5 4800MHz RAM, 1TB M.2 PCIe NVMe SSD, Layar 16 inc"</div>
      <div class="product-price">Rp22.599.000</div>
      <div class="product-buttons">
        <button
          type="button"
          class="btn btn-primary lihat-detail-btn"
          data-bs-toggle="modal"
          data-bs-target="#productDetailModal"
          data-nama="Laptop Dell Inspiron 16 Plus 7630"
          data-spesifikasi="Intel® Core™ i7-13700H, 16GB DDR5 4800MHz RAM, 1TB M.2 PCIe NVMe SSD, Layar 16 inc&quot;"
          data-deskripsi="Dell Inspiron 16 Plus 7630 adalah laptop premium dengan performa tinggi yang dirancang untuk para profesional kreatif, pekerja kantoran, hingga pengguna multitasking berat. Ditenagai prosesor Intel Core generasi ke-13 dan kartu grafis NVIDIA GeForce RTX 4060, laptop ini sangat cocok untuk pengeditan video, desain grafis, rendering, hingga gaming ringan."
          data-harga="Rp22.599.000"
          data-img="img/DELL/laptop5.png"
        >
          Lihat Detail
        </button>
        <a href="https://youtu.be/4CqKOC8p2s4?si=CWQJlW55bnoX2CdC"
           class="btn btn-danger"
           target="_blank">
          Tonton Review di YouTube
        </a>
      </div>
    </div>
  </div>
</div>

<!-- dell  5 -->
<div class="col-md-4">
  <div class="product-card">
    <div class="product-img">
      <img src="img/DELL/laptop6.png" alt="Dell Alienware m15 R6" />
    </div>
    <div class="product-content">
      <div class="product-title">Dell Alienware m15 R6</div>
      <div class="product-specs">Intel® Core™ i7-11800H, RTX™ 3060, 32GB RAM, 1TB SSD,Layar 15.6 inc</div>
      <div class="product-price">Rp46.499.000</div>
      <div class="product-buttons">
        <button
          type="button"
          class="btn btn-primary lihat-detail-btn"
          data-bs-toggle="modal"
          data-bs-target="#productDetailModal"
          data-nama="Dell Alienware m15 R6"
          data-spesifikasi="Intel® Core™ i7-11800H, RTX™ 3060, 32GB RAM, 1TB SSD,Layar 15.6 inc&quot;"
          data-deskripsi="Dell Alienware M15 R6 adalah laptop gaming premium dari Dell yang dirancang untuk para gamer dan kreator konten yang membutuhkan performa tinggi dan tampilan visual yang memukau."
          data-harga="Rp46.499.000"
          data-img="img/asus/laptop9.1.jpg"
        >
          Lihat Detail
        </button>
        <a href="https://youtu.be/P9rZgcZHPU0?si=g2p3xA01ixGGyzaz"
           class="btn btn-danger"
           target="_blank">
          Tonton Review di YouTube
        </a>
      </div>
    </div>
  </div>
</div>

<!-- dell 6 -->
<div class="col-md-4">
  <div class="product-card">
    <div class="product-img">
      <img src="img/DELL/laptop7.png" alt="Dell Alienware x17 R2" />
    </div>
    <div class="product-content">
      <div class="product-title">Dell Alienware x17 R2</div>
      <div class="product-specs">Intel® Core™ i9-12900HK, 64GB DDR5 RAM, 1TB SSDC, Layar 17.3 FHD"</div>
      <div class="product-price">Rp26.799.000</div>
      <div class="product-buttons">
        <button
          type="button"
          class="btn btn-primary lihat-detail-btn"
          data-bs-toggle="modal"
          data-bs-target="#productDetailModal"
          data-nama="Dell Alienware x17 R2"
          data-spesifikasi="Intel® Core™ i9-12900HK, 64GB DDR5 RAM, 1TB SSDC, Layar 17.3 FHD&quot;"
          data-deskripsi="Dell Alienware x17 R2 adalah laptop gaming kelas flagship yang dirancang khusus untuk gamer profesional dan kreator konten yang menuntut performa maksimal. Laptop ini menggabungkan kekuatan prosesor Intel Core i9 generasi ke-12 dan kartu grafis NVIDIA GeForce RTX 3080 Ti, memberikan kinerja luar biasa dalam multitasking berat, rendering 3D, serta gaming AAA di setting ultra."
          data-harga="Rp26.799.000"
          data-img="img/DELL/laptop7.png"
        >
          Lihat Detail
        </button>
        <a href="https://youtu.be/K2Bm1YzI-_E?si=wXUJ8jaw6RI-7Fzd"
           class="btn btn-danger"
           target="_blank">
          Tonton Review di YouTube
        </a>
      </div>
    </div>
  </div>
</div>

<!-- dell 7 -->
<div class="col-md-4">
  <div class="product-card">
    <div class="product-img">
      <img src="img/DELL/laptop8.jpg" alt="Dell Vostro 3400" />
    </div>
    <div class="product-content">
      <div class="product-title">Dell Vostro 3400</div>
      <div class="product-specs">Intel Core i3-1115G4 ,8GB DDR4 RAM, 256GB SSD , Layar 14 Full HD"</div>
      <div class="product-price">Rp7.400.00</div>
      <div class="product-buttons">
        <button
          type="button"
          class="btn btn-primary lihat-detail-btn"
          data-bs-toggle="modal"
          data-bs-target="#productDetailModal"
          data-nama="Dell Vostro 3400"
          data-spesifikasi="Intel Core i3-1115G4 ,8GB DDR4 RAM, 256GB SSD , Layar 14 Full HD&quot;"
          data-deskripsi="Dell Vostro 3400 adalah laptop 14 inci yang dirancang untuk kebutuhan bisnis dan produktivitas sehari-hari. Ditenagai oleh prosesor Intel Core generasi ke-11, laptop ini menawarkan kinerja yang solid untuk multitasking, pengolahan dokumen, dan penggunaan aplikasi kantor. Dengan desain yang ringkas dan bobot ringan, Vostro 3400 mudah dibawa bepergian, menjadikannya pilihan ideal bagi profesional yang membutuhkan mobilitas tinggi."
          data-harga="Rp7.400.00"
          data-img="img/DELL/laptop8.jpg"
        >
          Lihat Detail
        </button>
        <a href="https://youtu.be/s58rykSJUak?si=WeKleT5PWgOj5H2y"
           class="btn btn-danger"
           target="_blank">
          Tonton Review di YouTube
        </a>
      </div>
    </div>
  </div>
</div>

<!-- dell 8 -->
<div class="col-md-4">
  <div class="product-card">
    <div class="product-img">
      <img src="img/DELL/laptop9.jpg" alt="ASUS Chromebook CX34 Flip" />
    </div>
    <div class="product-content">
      <div class="product-title">Dell Latitude 3420</div>
      <div class="product-specs"> Intel® Core™ i3-1115G4, 4GB RAM, 256GB SSD, Layar 14"</div>
      <div class="product-price">Rp6.986.000</div>
      <div class="product-buttons">
        <button
          type="button"
          class="btn btn-primary lihat-detail-btn"
          data-bs-toggle="modal"
          data-bs-target="#productDetailModal"
          data-nama="Dell Latitude 3420"
          data-spesifikasi="Intel® Core™ i3-1115G4, 4GB RAM, 256GB SSD, Layar 14&quot;"
          data-deskripsi="Dell Latitude 3420 adalah laptop bisnis 14 inci yang dirancang untuk memenuhi kebutuhan profesional dan pekerja kantoran. Dengan desain yang ringkas dan kokoh, laptop ini menawarkan performa yang andal untuk tugas sehari-hari seperti pengolahan dokumen, presentasi, dan konferensi video."
          data-harga="Rp6.986.000"
          data-img="img/DELL/laptop9.jpg"
        >
          Lihat Detail
        </button>
        <a href="https://youtu.be/6Fyldrs7Ptg?si=CcDpu7Fgf6uKTeBN"
           class="btn btn-danger"
           target="_blank">
          Tonton Review di YouTube
        </a>
      </div>
    </div>
  </div>
</div>

<!-- dell 9 -->
<div class="col-md-4">
  <div class="product-card">
    <div class="product-img">
      <img src="img/DELL/laptop10.png" alt="Dell Inspiron 14 5430" />
    </div>
    <div class="product-content">
      <div class="product-title">Dell Inspiron 14 5430</div>
      <div class="product-specs">Intel® Core™ i5-1335U,  8GB RAM, 512GB SSD PCIe NVMe, Layar 14 Full HD"</div>
      <div class="product-price">Rp9.905.051</div>
      <div class="product-buttons">
        <button
          type="button"
          class="btn btn-primary lihat-detail-btn"
          data-bs-toggle="modal"
          data-bs-target="#productDetailModal"
          data-nama="Dell Inspiron 14 5430"
          data-spesifikasi="Intel® Core™ i5-1335U,  8GB RAM, 512GB SSD PCIe NVMe, Layar 14 Full HD&quot;"
          data-deskripsi="Dell Inspiron 14 5430 adalah laptop kelas menengah dari Dell yang dirancang untuk produktivitas harian, baik untuk pelajar, pekerja kantoran, maupun pengguna rumahan. Dengan desain ringkas dan bobot ringan, laptop ini mudah dibawa bepergian dan cocok untuk mobilitas tinggi."
          data-harga="Rp9.905.051"
          data-img="img/DELL/laptop10.png"
        >
          Lihat Detail
        </button>
        <a href="https://youtu.be/ISuL1N1X8Zc?si=hodbP7HQ28zMd2a1"
           class="btn btn-danger"
           target="_blank">
          Tonton Review di YouTube
        </a>
      </div>
    </div>
  </div>
</div>

<!-- lenovo 10 -->
<div class="col-md-4">
  <div class="product-card">
    <div class="product-img">
      <img src="img/DELL/laptop11.jpg" alt="Dell Chromebook 3100" />
    </div>
    <div class="product-content">
      <div class="product-title">Dell Chromebook 3100</div>
      <div class="product-specs"> Intel Celeron N4020 Dual-Core , 4GB LPDDR4 RAM, 32GB eMMC SSD, Layar 11.6 HD</div>
      <div class="product-price">Rp4.999.000</div>
      <div class="product-buttons">
        <button
          type="button"
          class="btn btn-primary lihat-detail-btn"
          data-bs-toggle="modal"
          data-bs-target="#productDetailModal"
          data-nama="Dell Chromebook 3100"
          data-spesifikasi="Intel Celeron N4020 Dual-Core , 4GB LPDDR4 RAM, 32GB eMMC SSD, Layar 11.6 HD"
          data-deskripsi="Dell Chromebook 3100 adalah laptop edukasi yang dirancang untuk ketahanan dan efisiensi, cocok untuk pelajar dan penggunaan ringan sehari-hari."
          data-harga="Rp4.999.000"
          data-img="img/DELL/laptop11.jpg"
        >
          Lihat Detail
        </button>
        <a href="https://youtu.be/411YmwTp4V0?si=yYHPi-COooaq3Q1K"
           class="btn btn-danger"
           target="_blank">
          Tonton Review di YouTube
        </a>
      </div>
    </div>
  </div>
</div>

<!-- dell 11 -->
<div class="col-md-4">
  <div class="product-card">
    <div class="product-img">
      <img src="img/DELL/laptop12.jpeg" alt="Dell Vostro 14 3420" />
    </div>
    <div class="product-content">
      <div class="product-title">Dell Vostro 14 3420</div>
      <div class="product-specs">Intel® Core™ i3-1115G4, 4GB  RAM, 256GB SSD, Layar 14 HD"</div>
      <div class="product-price">Rp6.986.000</div>
      <div class="product-buttons">
        <button
          type="button"
          class="btn btn-primary lihat-detail-btn"
          data-bs-toggle="modal"
          data-bs-target="#productDetailModal"
          data-nama="Dell Vostro 14 3420"
          data-spesifikasi="Intel® Core™ i3-1115G4, 4GB  RAM, 256GB SSD, Layar 14 HD&quot;"
          data-deskripsi="Dell Vostro 14 3420 adalah laptop bisnis 14 inci yang dirancang untuk produktivitas harian dengan performa efisien dan desain profesional. Laptop ini cocok untuk pekerja kantoran, pelaku UMKM, dan pelajar yang membutuhkan perangkat andal dengan harga kompetitif."
          data-harga="Rp6.986.000"
          data-img="img/DELL/laptop12.jpeg"
        >
          Lihat Detail
        </button>
        <a href="https://youtu.be/WIYg9JOJ1Os?si=GCxZPpRMBej8jN2H"
           class="btn btn-danger"
           target="_blank">
          Tonton Review di YouTube
        </a>
      </div>
    </div>
  </div>
</div>

<!-- lenovo 12 -->
<div class="col-md-4">
  <div class="product-card">
    <div class="product-img">
      <img src="img/DELL/laptop13.jpg" alt="Dell G15 5520" />
    </div>
    <div class="product-content">
      <div class="product-title">Dell G15 5520</div>
      <div class="product-specs"> Intel® Core™ i5-12500H, RTX 3050 , 8GB RAM, 512GB SSD, Layar 15,6 FHD</div>
      <div class="product-price">Rp15.497.000</div>
      <div class="product-buttons">
        <button
          type="button"
          class="btn btn-primary lihat-detail-btn"
          data-bs-toggle="modal"
          data-bs-target="#productDetailModal"
          data-nama="Dell G15 5520"
          data-spesifikasi="Intel® Core™ i5-12500H, RTX 3050 , 8GB RAM, 512GB SSD, Layar 15,6 FHD&quot;"
          data-deskripsi="Dell G15 5520 adalah laptop gaming 15,6 inci dari Dell yang dirancang untuk memberikan performa tinggi bagi para gamer dan kreator konten. Dengan desain yang terinspirasi dari Alienware, laptop ini menawarkan kombinasi antara kekuatan, efisiensi termal, dan estetika yang menarik."
          data-harga="Rp15.497.000"
          data-img="img/asus/laptop17.png"
        >
          Lihat Detail
        </button>
        <a href="https://youtu.be/zNjKdEvGdho?si=YkDsTWT23AvT4iMs"
           class="btn btn-danger"
           target="_blank">
          Tonton Review di YouTube
        </a>
      </div>
    </div>
  </div>
</div>

       
        </div>
      </div>
    </div>

    <!-- Modal Detail Produk -->
    <div class="modal fade" id="productDetailModal" tabindex="-1" aria-labelledby="productDetailModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="productDetailModalLabel">Detail Produk</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" id="productDetailContent">
            <!-- Content will be loaded dynamically -->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
            <a href="https://wa.me/628983052203" target="_blank" class="btn btn-primary">Beli Sekarang</a>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid copyright py-4">
      <div class="container">
        <div class="row g-4 align-items-center">
          <div class="col-md-6 text-center text-md-start mb-md-0">
            <span class="text-light"
              ><a href="#"
                ><i class="fas fa-copyright text-light me-2"></i>Ikhsan's Tech
                World</a
              >, All right reserved.</span
            >
          </div>
          <div class="col-md-6">
            <div class="d-flex justify-content-center">
              <a
                href="https://www.facebook.com/profile.php?id=100015133152267"
                class="btn btn-light btn-light-outline-0 btn-sm-square rounded-circle me-2"
                ><i class="fab fa-facebook-f"></i
              ></a>
              <a
                href="https://x.com/ikhsannrsptra"
                class="btn btn-light btn-light-outline-0 btn-sm-square rounded-circle me-2"
                ><i class="fab fa-twitter"></i
              ></a>
              <a
                href="https://www.instagram.com/ikhsannrsptra?igsh=MXNrOGJxN3dqaXA2aQ=="
                class="btn btn-light btn-light-outline-0 btn-sm-square rounded-circle me-2"
                ><i class="fab fa-instagram"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <a
      href="#"
      class="btn btn-primary btn-primary-outline-0 btn-md-square rounded-circle back-to-top"
      ><i class="fa fa-arrow-up"></i
    ></a>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>

