<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Ikhsan's Tech World</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta content="" name="keywords" />
  <meta content="" name="description" />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=PT+Serif:wght@400;700&display=swap"
    rel="stylesheet" />

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />

  <link href="lib/animate/animate.min.css" rel="stylesheet" />

  <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet" />

  <link href="css/bootstrap.min.css" rel="stylesheet" />
  <link href="css/style.css" rel="stylesheet" />
  <script src="style.js"></script>
</head>

<body>
  <div class="container-fluid sticky-top px-0">
    <div class="container-fluid bg-light">
      <div class="container px-0">
        <nav class="navbar navbar-light navbar-expand-xl">
          <a href="index.html" class="navbar-brand">
            <h1 class="text-primary display-6">Ikhsan's Tech World</h1>
          </a>
          <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse">
            <span class="fa fa-bars text-primary"></span>
          </button>
          <div class="collapse navbar-collapse bg-light py-3" id="navbarCollapse">
            <div class="navbar-nav ms-auto border-top">
              <a href="index.html" class="nav-item nav-link">Home</a>
              <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle active" data-bs-toggle="dropdown">Produk</a>
                <div class="dropdown-menu m-0">
                  <a href="asus.html" class="dropdown-item">Asus</a>
                  <a href="acer.html" class="dropdown-item">Acer</a>
                  <a href="lenovo.html" class="dropdown-item active">Lenovo</a>
                  <a href="DELL.html" class="dropdown-item">DELL</a>
                  <a href="axioo.html" class="dropdown-item">axioo</a>
                </div>
              </div>
              <a href="rekomendasi.html" class="nav-item nav-link">Rekomendasi</a>
              <a href="kontak.html" class="nav-item nav-link">Kontak</a>
              <a href="daftar.html" class="nav-item nav-link">Daftar</a>
              <a href="login.html" class="nav-item nav-link">Login</a>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>

  <div class="container-fluid py-5">
    <div class="container py-5">
      <div class="text-center my-5">
        <h1 class="display-4 fw-bold">Laptop Lenovo Terbaik</h1>
        <p class="lead">Didesain untuk produktivitas dan mobilitas tinggi.</p>
      </div>

      <div class="row g-4">
        <!-- lenovo 1 -->
        <div class="col-md-4">
          <div class="product-card">
            <div class="product-img">
              <img src="img/lenovo/laptop4.webp" alt="Legion Pro 7i (16'', Gen 10)" />
            </div>
            <div class="product-content">
              <div class="product-title">Legion Pro 7i (16'', Gen 10)</div>
              <div class="product-specs">Intel® Core™ Ultra 9 275HX, 32 GB DDR5X-6400 RAM, 2 TB SSD , Layar 16 OLED"
              </div>
              <div class="product-price">Rp60.499.000</div>
              <div class="product-buttons">
                <button type="button" class="btn btn-primary lihat-detail-btn" data-bs-toggle="modal"
                  data-bs-target="#productDetailModal" data-nama="Legion Pro 7i (16'', Gen 10)"
                  data-spesifikasi="Intel® Core™ Ultra 9 275HX, 32 GB DDR5X-6400 RAM, 2 TB SSD , Layar 16 OLED&quot;"
                  data-deskripsi="Lenovo Legion Pro 7i Gen 10 (16, 2025) adalah laptop gaming kelas atas yang menggabungkan performa tinggi dengan desain elegan. Ditenagai oleh prosesor Intel® Core™ Ultra 9 275HX dan kartu grafis NVIDIA® GeForce RTX™ 5080, laptop ini mampu menjalankan game AAA dan aplikasi berat dengan lancar. Layar OLED 16 inci dengan refresh rate 240Hz memberikan visual yang tajam dan responsif, ideal untuk gaming kompetitif dan pekerjaan kreatif"
                  data-harga="Rp60.499.000" data-img="img/lenovo/laptop4.webp">
                  Lihat Detail
                </button>
                <a href="https://youtu.be/EdkDVGkCwJ8?si=foBM_a3e9AzyJufM" class="btn btn-danger" target="_blank">
                  Tonton Review di YouTube
                </a>
              </div>
            </div>
          </div>
        </div>

        <!-- lenovo 2 -->
        <div class="col-md-4">
          <div class="product-card">
            <div class="product-img">
              <img src="img/lenovo/laptop5.1.webp" alt="Legion Pro 5i" />
            </div>
            <div class="product-content">
              <div class="product-title">Legion Pro 5i (16'', Gen 9)</div>
              <div class="product-specs">Intel® Core™ Ultra 9 275HX, 32 GB DDR5 6400 MHz RAM, 2 TB SSD , Layar 16 OLED"
              </div>
              <div class="product-price"> Rp21.199.000 </div>
              <div class="product-buttons">
                <button type="button" class="btn btn-primary lihat-detail-btn" data-bs-toggle="modal"
                  data-bs-target="#productDetailModal" data-nama="Legion Pro 5i"
                  data-spesifikasi="Intel® Core™ Ultra 9 275HX, 32 GB DDR5 6400 MHz RAM, 2 TB SSD , Layar 16 OLED&quot;"
                  data-deskripsi="Lenovo Legion Pro 5i Gen 10 (16, 2025) adalah laptop gaming yang menggabungkan performa tinggi dengan desain elegan. Ditenagai oleh prosesor Intel® Core™ Ultra 9 275HX dan kartu grafis NVIDIA® GeForce RTX™ 5070 Ti, laptop ini mampu menjalankan game AAA dan aplikasi berat dengan lancar. Layar OLED 16 inci dengan refresh rate 240Hz memberikan visual yang tajam dan responsif, ideal untuk gaming kompetitif dan pekerjaan kreatif."
                  data-harga=" Rp21.199.000 " data-img="img/lenovo/laptop5.1.webp">
                  Lihat Detail
                </button>
                <a href="https://youtu.be/o3N-Jntfv2U?si=ad-lG0Vp37eLPHIs" class="btn btn-danger" target="_blank">
                  Tonton Review di YouTube
                </a>
              </div>
            </div>
          </div>
        </div>

        <!-- Lenovo 3 -->
        <div class="col-md-4">
          <div class="product-card">
            <div class="product-img">
              <img src="img/lenovo/laptop7.webp" alt="ASUS Vivobook Go 14 (E1404)" />
            </div>
            <div class="product-content">
              <div class="product-title">Lenovo LOQ 15ARP9</div>
              <div class="product-specs"> AMD Ryzen™ 7 7435HS , 12GB DDR5-4800RAM, 512GB SSD,Layar 15.6 inc</div>
              <div class="product-price"> Rp15.739.000</div>
              <div class="product-buttons">
                <button type="button" class="btn btn-primary lihat-detail-btn" data-bs-toggle="modal"
                  data-bs-target="#productDetailModal" data-nama="Lenovo LOQ 15ARP9"
                  data-spesifikasi="AMD Ryzen™ 7 7435HS , 12GB DDR5-4800RAM, 512GB SSD,Layar 15.6 inc&quot;"
                  data-deskripsi="Lenovo LOQ 15ARP9 (83JC001YID) adalah laptop gaming 15,6 inci yang ditenagai oleh prosesor AMD Ryzen™ 7 7435HS dan kartu grafis NVIDIA® GeForce RTX™ 4060. Dengan layar FHD 144Hz yang mendukung G-SYNC®, laptop ini menawarkan pengalaman visual yang halus dan responsif, ideal untuk gaming dan pekerjaan kreatif. Dilengkapi dengan RAM 12GB DDR5 dan SSD 512GB PCIe 4.0, serta fitur-fitur tambahan seperti keyboard backlit putih dan Wi-Fi 6, laptop ini siap mendukung produktivitas dan hiburan Anda."
                  data-harga="Rp15.739.000" data-img="img/lenovo/laptop7.webp">
                  Lihat Detail
                </button>
                <a href="https://youtu.be/GveSP5eGegU?si=co_QPWiKO26ybn83" class="btn btn-danger" target="_blank">
                  Tonton Review di YouTube
                </a>
              </div>
            </div>
          </div>
        </div>

        <!-- lenovo 4 -->
        <div class="col-md-4">
          <div class="product-card">
            <div class="product-img">
              <img src="img/lenovo/laptop8.png" alt="Legion 7i (16'', Gen 9)" />
            </div>
            <div class="product-content">
              <div class="product-title">Legion 7i (16'', Gen 9)</div>
              <div class="product-specs">Intel® Core™ i7-14700HX, RTX™ 4060, 16GB DDR5 RAM, 1TB SSD , Layar 16"</div>
              <div class="product-price">Rp28.550.000</div>
              <div class="product-buttons">
                <button type="button" class="btn btn-primary lihat-detail-btn" data-bs-toggle="modal"
                  data-bs-target="#productDetailModal" data-nama="Legion 7i"
                  data-spesifikasi="Intel Celeron, 4GB RAM, 64GB eMMC, Layar 15.6&quot;"
                  data-deskripsi="Lenovo Legion 7i Gen 9 (16, 2025) adalah laptop gaming kelas atas yang menggabungkan desain elegan dengan performa luar biasa. Ditenagai oleh prosesor Intel® Core™ i7-14700HX dan kartu grafis NVIDIA® GeForce RTX™ 4060, laptop ini mampu menjalankan game AAA dan aplikasi berat dengan lancar. Layar 16 inci dengan resolusi 3.2K dan refresh rate 165Hz memberikan visual yang tajam dan responsif, ideal untuk gaming kompetitif dan pekerjaan kreatif."
                  data-harga="Rp28.550.000" data-img="img/lenovo/laptop8.png">
                  Lihat Detail
                </button>
                <a href="https://youtu.be/s9reDdQTdlA?si=HSosYZYiYi0xlMQh" class="btn btn-danger" target="_blank">
                  Tonton Review di YouTube
                </a>
              </div>
            </div>
          </div>
        </div>

        <!-- lenovo 5 -->
        <div class="col-md-4">
          <div class="product-card">
            <div class="product-img">
              <img src="img/lenovo/laptop9.png" alt="ASUS Gaming V16 (V3607V)" />
            </div>
            <div class="product-content">
              <div class="product-title">Yoga Book 9i (14", Gen 10)</div>
              <div class="product-specs"> Intel® Core™ Ultra 7 255H, 32GB LPDDR5X RAM, 1TB SSD</div>
              <div class="product-price">Rp31.000.000</div>
              <div class="product-buttons">
                <button type="button" class="btn btn-primary lihat-detail-btn" data-bs-toggle="modal"
                  data-bs-target="#productDetailModal" data-nama="Yoga Book 9i (14, Gen 10)"
                  data-spesifikasi="Intel® Core™ Ultra 7 255H, 32GB LPDDR5X RAM, 1TB SSD&quot;"
                  data-deskripsi="Lenovo Yoga Book 9i Gen 10 (14) adalah laptop convertible 2-in-1 pertama di dunia dengan dua layar OLED 14 inci yang identik. Dirancang untuk para profesional kreatif, multitasker, dan pengguna yang mencari fleksibilitas maksimal, laptop ini memungkinkan berbagai mode penggunaan—seperti mode buku, mode tenda, atau mode layar ganda vertikal—untuk meningkatkan produktivitas dan kreativitas."
                  data-harga="Rp31.000.000" data-img="img/lenovo/laptop9.png">
                  Lihat Detail
                </button>
                <a href="https://youtu.be/0H3WcK31ug0?si=Jdn6SV9mOtIHTnL_" class="btn btn-danger" target="_blank">
                  Tonton Review di YouTube
                </a>
              </div>
            </div>
          </div>
        </div>

        <!-- lenovo 6 -->
        <div class="col-md-4">
          <div class="product-card">
            <div class="product-img">
              <img src="img/lenovo/laptop10.png" alt="ThinkBook 14 2-in-1 Gen 5 (14 Intel)" />
            </div>
            <div class="product-content">
              <div class="product-title">ThinkBook 14 2-in-1 Gen 5 (14" Intel)</div>
              <div class="product-specs">Intel® Core™ Ultra 7 255U, 32GB DDR5-5600 RAM, 2TB SSD, Layar 14"</div>
              <div class="product-price">Rp18.000.000</div>
              <div class="product-buttons">
                <button type="button" class="btn btn-primary lihat-detail-btn" data-bs-toggle="modal"
                  data-bs-target="#productDetailModal" data-nama="ThinkBook 14 2-in-1 Gen 5 (14 Intel)"
                  data-spesifikasi="Intel® Core™ Ultra 7 255U, 32GB DDR5-5600 RAM, 2TB SSD, Layar 14&quot;"
                  data-deskripsi="Lenovo ThinkBook 14 2-in-1 Gen 5 (14 Intel) adalah laptop convertible yang dirancang untuk profesional dan pelaku bisnis yang membutuhkan perangkat serbaguna. Dengan engsel 360 derajat, laptop ini dapat digunakan dalam berbagai mode—laptop, tablet, tenda, atau presentasi—sesuai kebutuhan Anda. Ditenagai oleh prosesor Intel® Core™ Ultra generasi terbaru dan fitur AI canggih, perangkat ini menawarkan performa tinggi untuk multitasking, presentasi, hingga kolaborasi virtual."
                  data-harga="Rp18.000.000" data-img="img/lenovo/laptop10.png">
                  Lihat Detail
                </button>
                <a href="https://youtu.be/fqWwJoACpMU?si=HItSJgP7g6S6iwp4" class="btn btn-danger" target="_blank">
                  Tonton Review di YouTube
                </a>
              </div>
            </div>
          </div>
        </div>

        <!-- Lenovo 7 -->
        <div class="col-md-4">
          <div class="product-card">
            <div class="product-img">
              <img src="img/lenovo/laptop11.png" alt="ThinkPad X1 Yoga Gen 7 (14 Intel)" />
            </div>
            <div class="product-content">
              <div class="product-title">ThinkPad X1 Yoga Gen 7 (14" Intel)</div>
              <div class="product-specs"> Intel® Core™ i7-1280P, 32GB LPDDR5-5200MHz RAM, 2TB SSD, Layar Touch 14"</div>
              <div class="product-price">Rp35.535.000</div>
              <div class="product-buttons">
                <button type="button" class="btn btn-primary lihat-detail-btn" data-bs-toggle="modal"
                  data-bs-target="#productDetailModal" data-nama="ThinkPad X1 Yoga Gen 7"
                  data-spesifikasi="Intel® Core™ i7-1280P, 32GB LPDDR5-5200MHz RAM,  2TB SSD, Layar Touch 14&quot;"
                  data-deskripsi="Lenovo ThinkPad X1 Yoga Gen 7 (14  Intel) adalah laptop 2-in-1 kelas bisnis yang menggabungkan desain elegan dengan fungsionalitas tinggi. Ditenagai oleh prosesor Intel® Core™ generasi ke-12 dan dilengkapi dengan layar sentuh OLED opsional, perangkat ini menawarkan pengalaman visual yang memukau dan performa yang andal untuk multitasking. Engsel 360 derajat memungkinkan penggunaan dalam berbagai mode—laptop, tablet, tenda, atau presentasi—sesuai kebutuhan Anda."
                  data-harga="Rp35.535.000" data-img="img/lenovo/laptop11.png">
                  Lihat Detail
                </button>
                <a href="https://youtu.be/F-0nF1w-AfM?si=h1rtjEatKNnwd2D0" class="btn btn-danger" target="_blank">
                  Tonton Review di YouTube
                </a>
              </div>
            </div>
          </div>
        </div>

        <!--  lenovo 8 -->
        <div class="col-md-4">
          <div class="product-card">
            <div class="product-img">
              <img src="img/lenovo/laptop12.png" alt="ASUS Chromebook CX34 Flip" />
            </div>
            <div class="product-content">
              <div class="product-title">ThinkPad L13 Gen 4 13" Intel</div>
              <div class="product-specs">Intel® Core™ i7-1355U, 16GB LPDDR5-4800 (soldered, dual-channel), 1TB SSD,
                Layar 13.3"</div>
              <div class="product-price">Rp22.199.000</div>
              <div class="product-buttons">
                <button type="button" class="btn btn-primary lihat-detail-btn" data-bs-toggle="modal"
                  data-bs-target="#productDetailModal" data-nama="ThinkPad L13 Gen 4 13 Intel"
                  data-spesifikasi="Intel® Core™ i7-1355U, 16GB LPDDR5-4800 (soldered, dual-channel), 1TB SSD, Layar 13.3&quot;"
                  data-deskripsi="Lenovo ThinkPad L13 Gen 4 adalah laptop bisnis ringkas dan tangguh yang dirancang untuk profesional mobile. Ditenagai prosesor Intel Core generasi ke-13, RAM LPDDR5 hingga 16GB, dan SSD cepat, laptop ini memberikan performa tinggi untuk multitasking dan aplikasi berat. Layarnya berukuran 13.3 WUXGA dengan panel IPS yang tajam dan nyaman untuk kerja jangka panjang. Dengan bobot hanya sekitar 1.26 kg, konektivitas lengkap termasuk Thunderbolt 4 dan port Ethernet, serta daya tahan baterai hingga 12 jam, ThinkPad L13 Gen 4 cocok untuk pengguna yang membutuhkan produktivitas tinggi dan mobilitas tanpa kompromi. Keamanan bisnis juga ditingkatkan melalui fitur seperti kamera FHD dengan penutup privasi dan TPM 2.0."
                  data-harga="Rp22.199.000" data-img="img/lenovo/laptop12.png">
                  Lihat Detail
                </button>
                <a href="https://youtu.be/enDL8259ZfU?si=Yb_L3hQ1qQm72AZZ" class="btn btn-danger" target="_blank">
                  Tonton Review di YouTube
                </a>
              </div>
            </div>
          </div>
        </div>

        <!-- lenovo 9 -->
        <div class="col-md-4">
          <div class="product-card">
            <div class="product-img">
              <img src="img/lenovo/laptop13.png" alt="ASUS Chromebook Plus Enterprise CX34" />
            </div>
            <div class="product-content">
              <div class="product-title">ThinkBook 14 Gen 6 (14 inch Intel)</div>
              <div class="product-specs"> Intel® Core™ i7-1355U , 16GB DDR4 RAM, 512GB SSD, Layar 14"</div>
              <div class="product-price">Rp14.499.000,</div>
              <div class="product-buttons">
                <button type="button" class="btn btn-primary lihat-detail-btn" data-bs-toggle="modal"
                  data-bs-target="#productDetailModal" data-nama="ThinkBook 14 Gen 6 (14 inch Intel)"
                  data-spesifikasi="Intel® Core™ i7-1355U , 16GB DDR4 RAM,  512GB SSD, Layar 14&quot;"
                  data-deskripsi="Lenovo ThinkBook 14 Gen 6 (14 Intel) adalah laptop bisnis yang dirancang untuk profesional yang membutuhkan keseimbangan antara kinerja, portabilitas, dan fitur keamanan. Ditenagai oleh prosesor Intel® Core™ generasi ke-13, laptop ini menawarkan performa responsif untuk multitasking dan aplikasi bisnis. Layar 14"
                  WUXGA (1920 x 1200) IPS dengan rasio aspek 16:10 memberikan tampilan yang luas dan nyaman untuk
                  produktivitas sehari-hari. Desainnya yang ramping dan ringan memudahkan mobilitas, sementara
                  fitur-fitur seperti keyboard ergonomis, pembaca sidik jari, dan kamera dengan penutup privasi
                  meningkatkan kenyamanan dan keamanan penggunaan." data-harga="Rp14.499.000,"
                  data-img="img/lenovo/laptop13.png">
                  Lihat Detail
                </button>
                <a href="https://youtu.be/Y_dfbZx_9cg?si=OUjrueNOzHgFOasK" class="btn btn-danger" target="_blank">
                  Tonton Review di YouTube
                </a>
              </div>
            </div>
          </div>
        </div>

        <!-- lenovo 10 -->
        <div class="col-md-4">
          <div class="product-card">
            <div class="product-img">
              <img src="img/lenovo/laptop14.png" alt="ASUS Zenbook Pro 14 Duo OLED" />
            </div>
            <div class="product-content">
              <div class="product-title">ThinkBook 14s Yoga Gen 3 (14″ Intel)</div>
              <div class="product-specs"> Intel® Core™ i7-1355U, 8GB RAM DDR4-3200 RAM, 512GB SSD,Layar 14 inc</div>
              <div class="product-price">Rp12.800.000</div>
              <div class="product-buttons">
                <button type="button" class="btn btn-primary lihat-detail-btn" data-bs-toggle="modal"
                  data-bs-target="#productDetailModal" data-nama="ThinkBook 14s Yoga Gen 3 (14″ Intel)"
                  data-spesifikasi="Intel® Core™ i7-1355U, 8GB RAM DDR4-3200 RAM, 512GB SSD,Layar 14 inc"
                  data-deskripsi="Lenovo ThinkBook 14s Yoga Gen 3 (14″ Intel) adalah laptop 2-in-1 yang dirancang untuk profesional dan pelaku bisnis yang membutuhkan fleksibilitas dan performa tinggi. Ditenagai oleh prosesor Intel® Core™ generasi ke-13, laptop ini menawarkan kinerja responsif untuk multitasking dan aplikasi bisnis. Layar sentuh 14 Full HD dengan dukungan pena digital terintegrasi memungkinkan interaksi yang intuitif, sementara engsel 360 derajat memberikan empat mode penggunaan: laptop, tablet, tent, dan stand. Desainnya yang ramping dan ringan memudahkan mobilitas, dan fitur-fitur seperti keyboard ergonomis, pembaca sidik jari, serta kamera dengan penutup privasi meningkatkan kenyamanan dan keamanan penggunaan."
                  data-harga="Rp12.800.000" data-img="img/lenovo/laptop14.png">
                  Lihat Detail
                </button>
                <a href="https://youtu.be/CDqyG-ReBbM?si=HZ_xezSYZN2nM65d" class="btn btn-danger" target="_blank">
                  Tonton Review di YouTube
                </a>
              </div>
            </div>
          </div>
        </div>

        <!-- lenovo 11 -->
        <div class="col-md-4">
          <div class="product-card">
            <div class="product-img">
              <img src="img/lenovo/laptop15.png" alt="ExpertBook B9 OLED" />
            </div>
            <div class="product-content">
              <div class="product-title">ThinkPad X12 Gen 2 (12" Intel)</div>
              <div class="product-specs">Intel® Core™ Ultra 7 164U, 32GB LPDDR5x RAM, 1TB SSD, Layar 12.3 inc"</div>
              <div class="product-price">Rp35.895.000 </div>
              <div class="product-buttons">
                <button type="button" class="btn btn-primary lihat-detail-btn" data-bs-toggle="modal"
                  data-bs-target="#productDetailModal" data-nama="ThinkPad X12 Gen 2 (12 Intel)"
                  data-spesifikasi="Intel® Core™ Ultra 7 164U, 32GB LPDDR5x RAM, 1TB SSD, Layar 12.3 inc&quot;"
                  data-deskripsi="Lenovo ThinkPad X12 Detachable Gen 2 adalah laptop 2-in-1 premium yang dirancang untuk profesional yang membutuhkan fleksibilitas dan mobilitas tinggi. Dengan desain detachable, perangkat ini dapat digunakan sebagai tablet maupun laptop, memberikan kemudahan dalam berbagai situasi kerja. Ditenagai oleh prosesor Intel® Core™ Ultra 7 164U, RAM hingga 32GB, dan SSD hingga 1TB, laptop ini menawarkan performa yang handal untuk multitasking dan aplikasi bisnis. Layar sentuh 12.3 FHD+ IPS dengan dukungan pena digital memungkinkan interaksi yang intuitif, sementara fitur keamanan seperti pembaca sidik jari dan kamera IR memastikan data Anda tetap aman."
                  data-harga="Rp35.895.000 " data-img="img/lenovo/laptop15.png">
                  Lihat Detail
                </button>
                <a href="https://youtu.be/WpTS7V6WHIU?si=wedLfoxutLtG5QVD" class="btn btn-danger" target="_blank">
                  Tonton Review di YouTube
                </a>
              </div>
            </div>
          </div>
        </div>

        <!-- lenovo 12 -->
        <div class="col-md-4">
          <div class="product-card">
            <div class="product-img">
              <img src="img/lenovo/laptop16.png" alt="ASUS TUF Gaming A14" />
            </div>
            <div class="product-content">
              <div class="product-title">IdeaPad Flex 5i (16", Gen 8)</div>
              <div class="product-specs">Intel® Core™ i7-1355U, 16GB LPDDR4x RAM, 1TB SSD,Layar 16 inc</div>
              <div class="product-price">Rp23.299.000</div>
              <div class="product-buttons">
                <button type="button" class="btn btn-primary lihat-detail-btn" data-bs-toggle="modal"
                  data-bs-target="#productDetailModal" data-nama="IdeaPad Flex 5i (16, Gen 8)"
                  data-spesifikasi="Intel® Core™ i7-1355U, 16GB LPDDR4x RAM, 1TB SSD,Layar 16 inc&quot;"
                  data-deskripsi="Lenovo IdeaPad Flex 5i (16, Gen 8) adalah laptop 2-in-1 yang dirancang untuk pengguna yang membutuhkan fleksibilitas dan performa tinggi dalam satu perangkat. Dengan engsel 360 derajat, laptop ini dapat digunakan dalam berbagai mode, seperti laptop, tablet, tent, dan stand, sesuai kebutuhan Anda. Ditenagai oleh prosesor Intel® Core™ generasi ke-13, laptop ini menawarkan kinerja responsif untuk multitasking dan produktivitas sehari-hari. Layar sentuh 16"
                  dengan resolusi hingga 2.5K memberikan pengalaman visual yang tajam dan imersif, sementara dukungan
                  pena digital memungkinkan interaksi yang lebih intuitif. Desainnya yang ramping dan ringan memudahkan
                  mobilitas, dan fitur-fitur seperti keyboard ergonomis, pembaca sidik jari, serta kamera dengan penutup
                  privasi meningkatkan kenyamanan dan keamanan penggunaan." data-harga="Rp12.399.000 "
                  data-img="img/lenovo/laptop16.png">
                  Lihat Detail
                </button>
                <a href="https://youtu.be/C99hO-OPLSk?si=DWFEEX6s-dgE9UCl" class="btn btn-danger" target="_blank">
                  Tonton Review di YouTube
                </a>
              </div>
            </div>
          </div>
        </div>

        <!-- lenovo 13 -->
        <div class="col-md-4">
          <div class="product-card">
            <div class="product-img">
              <img src="img/lenovo/laptop17.webp" alt="Lenovo Flex D330" />
            </div>
            <div class="product-content">
              <div class="product-title">Lenovo Flex D330</div>
              <div class="product-specs">Intel® Celeron® N4020, 8GB LPDDR4 RAM, 128GB SSD,Layar 10.1 inc</div>
              <div class="product-price"> Rp4.657.500 </div>
              <div class="product-buttons">
                <button type="button" class="btn btn-primary lihat-detail-btn" data-bs-toggle="modal"
                  data-bs-target="#productDetailModal" data-nama="Lenovo Flex D330"
                  data-spesifikasi="Intel® Celeron® N4020, 8GB LPDDR4 RAM,  128GB  SSD,Layar 10.1 inc&quot;"
                  data-deskripsi="Lenovo Flex D330 adalah laptop 2-in-1 yang dirancang untuk pengguna yang membutuhkan fleksibilitas dan portabilitas. Dengan desain detachable, perangkat ini dapat digunakan sebagai laptop maupun tablet, memberikan kemudahan dalam berbagai situasi kerja. Ditenagai oleh prosesor Intel® Celeron® N4020, RAM 8GB, dan penyimpanan eMMC hingga 256GB, laptop ini menawarkan performa yang cukup untuk tugas sehari-hari seperti browsing, pengolahan dokumen, dan streaming. Layar sentuh 10.1 HD IPS memberikan pengalaman visual yang baik, sementara sistem operasi Windows 10 Pro memastikan kompatibilitas dengan berbagai aplikasi produktivitas."
                  data-harga=" Rp4.657.500 " data-img="img/lenovo/laptop17.webp">
                  Lihat Detail
                </button>
                <a href="https://youtu.be/uYhZMTGfELc?si=vIVsxlesmDRYZb-V" class="btn btn-danger" target="_blank">
                  Tonton Review di YouTube
                </a>
              </div>
            </div>
          </div>
        </div>

        <!-- lenovo 14 -->
        <div class="col-md-4">
          <div class="product-card">
            <div class="product-img">
              <img src="img/lenovo/laptop18.webp" alt="Lenovo Ideapad Slim 1" />
            </div>
            <div class="product-content">
              <div class="product-title">Lenovo Ideapad Slim 1</div>
              <div class="product-specs">AMD Ryzen™ 3 7320U, 8GB LPDDR5 RAM, 512GB SSD, Layar 14 inc"</div>
              <div class="product-price">Rp5.045.000</div>
              <div class="product-buttons">
                <button type="button" class="btn btn-primary lihat-detail-btn" data-bs-toggle="modal"
                  data-bs-target="#productDetailModal" data-nama="Lenovo Ideapad Slim 1"
                  data-spesifikasi="AMD Ryzen™ 3 7320U,  8GB LPDDR5 RAM, 512GB SSD, Layar 14 inc&quot;"
                  data-deskripsi="Lenovo IdeaPad Slim 1 adalah laptop entry-level yang dirancang untuk pengguna yang membutuhkan perangkat ringan, portabel, dan terjangkau untuk kebutuhan sehari-hari seperti browsing, pengolahan dokumen, dan streaming. Dengan desain tipis dan bobot ringan, laptop ini mudah dibawa bepergian. Ditenagai oleh prosesor AMD Ryzen™ 3 7320U, RAM 8GB, dan penyimpanan SSD hingga 512GB, laptop ini menawarkan performa yang cukup untuk tugas-tugas dasar. Layar 14 FHD memberikan tampilan yang jernih, sementara sistem operasi Windows 11 memastikan kompatibilitas dengan berbagai aplikasi modern."
                  data-harga="Rp5.045.000" data-img="img/lenovo/laptop18.webp">
                  Lihat Detail
                </button>
                <a href="https://youtu.be/UyYOLY3eOTk?si=acEqxbvE8RKCEY4q" class="btn btn-danger" target="_blank">
                  Tonton Review di YouTube
                </a>
              </div>
            </div>
          </div>
        </div>

        <!-- lenovo 15 -->
        <div class="col-md-4">
          <div class="product-card">
            <div class="product-img">
              <img src="img/lenovo/laptop19.png" alt="Legion Slim 5 (16, Gen 8)" />
            </div>
            <div class="product-content">
              <div class="product-title">Legion Slim 5 (16", Gen 8)</div>
              <div class="product-specs"> AMD Ryzen™ 7 7840HS, RTX™ 4070, 32GB RAM, 2TB SSD,Layar 16 inc</div>
              <div class="product-price">Rp23.999.000</div>
              <div class="product-buttons">
                <button type="button" class="btn btn-primary lihat-detail-btn" data-bs-toggle="modal"
                  data-bs-target="#productDetailModal" data-nama="Legion Slim 5 (16, Gen 8)"
                  data-spesifikasi="AMD Ryzen™ 7 7840HS, RTX™ 4070, 32GB RAM, 2TB SSD,Layar 16 inc&quot;"
                  data-deskripsi="Lenovo Legion Slim 5 Gen 8 (16) adalah laptop gaming yang menggabungkan performa tinggi dengan desain ramping dan portabilitas. Dirancang untuk para gamer dan kreator konten yang membutuhkan kekuatan komputasi dalam bentuk yang lebih ringan, laptop ini menawarkan pengalaman bermain game dan produktivitas yang optimal."
                  data-harga="Rp23.999.000" data-img="img/lenovo/laptop19.png">
                  Lihat Detail
                </button>
                <a href="https://youtu.be/k8rYab8OlT8?si=mx9UODnyxLyDwyjL" class="btn btn-danger" target="_blank">
                  Tonton Review di YouTube
                </a>
              </div>
            </div>
          </div>
        </div>

        <!-- lenovo 16 -->
        <div class="col-md-4">
          <div class="product-card">
            <div class="product-img">
              <img src="img/lenovo/laptop20.png" alt="IdeaPad Flex 5i Chromebook Gen 7 (14 Intel)" />
            </div>
            <div class="product-content">
              <div class="product-title">IdeaPad Flex 5i Chromebook Gen 7 (14" Intel)</div>
              <div class="product-specs">Intel Core i9-13980HX, RTX 4070, 32GB RAM, 1TB SSD</div>
              <div class="product-price"> Rp7.500.000</div>
              <div class="product-buttons">
                <button type="button" class="btn btn-primary lihat-detail-btn" data-bs-toggle="modal"
                  data-bs-target="#productDetailModal" data-nama="IdeaPad Flex 5i Chromebook Gen 7 (14 Intel)"
                  data-spesifikasi="Intel® Core™ i3-1315U, 8GB LPDDR4X RAM, 1TB SSD, Layar OLED 16&quot;"
                  data-deskripsi="Lenovo IdeaPad Flex 5i Chromebook Gen 7 (14 Intel) adalah laptop 2-in-1 yang dirancang untuk fleksibilitas dan produktivitas. Dengan engsel 360 derajat, perangkat ini dapat digunakan dalam mode laptop, tablet, atau tenda, sesuai kebutuhan Anda. Ditenagai oleh prosesor Intel® Core™ Generasi ke-12 atau ke-13, Chromebook ini menawarkan kinerja yang responsif untuk multitasking, browsing, dan penggunaan aplikasi berbasis cloud. Layar sentuh 14 inci dengan resolusi FHD dan dukungan 100% sRGB memberikan visual yang jernih dan akurat, ideal untuk pekerjaan kreatif maupun hiburan. Dengan sistem operasi Chrome OS, Anda mendapatkan akses cepat ke aplikasi Google dan pembaruan keamanan otomatis."
                  data-harga=" Rp7.500.000" data-img="img/lenovo/laptop20.png">
                  Lihat Detail
                </button>
                <a href="https://youtu.be/BcEGOwKVXBM?si=OLDlEPISxYnkG0MM" class="btn btn-danger" target="_blank">
                  Tonton Review di YouTube
                </a>
              </div>
            </div>
          </div>
        </div>

        <!-- lenovo 16 -->
        <div class="col-md-4">
          <div class="product-card">
            <div class="product-img">
              <img src="img/lenovo/laptop21.png" alt="Yoga 7i 2-in-1 (16'', Gen 9)" />
            </div>
            <div class="product-content">
              <div class="product-title">Yoga 7i 2-in-1 (16'', Gen 9)</div>
              <div class="product-specs">Intel® Core™ Ultra 5, 16GB LPDDR5x RAM, 512GB SSD,Layar 16 inc</div>
              <div class="product-price">Rp16.499.000</div>
              <div class="product-buttons">
                <button type="button" class="btn btn-primary lihat-detail-btn" data-bs-toggle="modal"
                  data-bs-target="#productDetailModal" data-nama="Yoga 7i 2-in-1 (16'', Gen 9)"
                  data-spesifikasi="Intel® Core™ Ultra 5, 16GB LPDDR5x RAM, 512GB SSD,Layar 16 inc&quot;"
                  data-deskripsi="Lenovo Yoga 7i 2-in-1 Gen 9 (16″ Intel) adalah laptop konvertibel premium yang dirancang untuk fleksibilitas dan performa tinggi. Dengan engsel 360 derajat, perangkat ini dapat digunakan dalam mode laptop, tablet, tenda, atau stand, sesuai kebutuhan Anda. Ditenagai oleh prosesor Intel® Core™ Ultra Generasi ke-13, laptop ini menawarkan kinerja yang responsif untuk multitasking, produktivitas, dan hiburan. Layar sentuh 16 inci dengan resolusi WUXGA memberikan visual yang jernih dan luas, ideal untuk pekerjaan kreatif maupun konsumsi media. Dengan sistem operasi Windows 11 dan fitur-fitur AI terbaru, Yoga 7i Gen 9 siap mendukung aktivitas Anda sehari-hari."
                  data-harga="Rp16.499.000" data-img="img/lenovo/laptop21.png">
                  Lihat Detail
                </button>
                <a href="https://youtu.be/eNBETx-jXNI?si=jylJono0meXVb-ET" class="btn btn-danger" target="_blank">
                  Tonton Review di YouTube
                </a>
              </div>
            </div>
          </div>
        </div>

        <!-- lenovo 16 -->
        <div class="col-md-4">
          <div class="product-card">
            <div class="product-img">
              <img src="img/lenovo/laptop22.png" alt="IdeaPad Slim 5 (15'', Gen 10)" />
            </div>
            <div class="product-content">
              <div class="product-title">IdeaPad Slim 5 (15'', Gen 10)</div>
              <div class="product-specs">AMD Ryzen™ 7 7735HS, 32GB RAM, 1TB SSD,Layar 15.6 inc</div>
              <div class="product-price">Rp11.197.000</div>
              <div class="product-buttons">
                <button type="button" class="btn btn-primary lihat-detail-btn" data-bs-toggle="modal"
                  data-bs-target="#productDetailModal" data-nama="IdeaPad Slim 5 (15'', Gen 10)"
                  data-spesifikasi="AMD Ryzen™ 7 7735HS, 32GB RAM, 1TB SSD,Layar 15.6 inc&quot;"
                  data-deskripsi="Lenovo IdeaPad Slim 5 Gen 10 (15″ AMD) adalah laptop kelas menengah yang menggabungkan desain tipis dan ringan dengan performa tinggi. Ditenagai oleh prosesor AMD Ryzen™ 7000 Series, laptop ini cocok untuk multitasking, produktivitas sehari-hari, dan hiburan. Dengan layar 15,6 inci beresolusi hingga 2.5K OLED, Anda dapat menikmati visual yang tajam dan kaya warna. Fitur tambahan seperti kamera IR dengan Smart Login dan sasis logam yang tahan lama menjadikan laptop ini pilihan ideal bagi profesional dan pelajar."
                  data-harga="Rp11.197.000" data-img="img/lenovo/laptop22.png">
                  Lihat Detail
                </button>
                <a href="https://youtu.be/8zV_JMWMPbk?si=PRFuZzuYy9WEJpuD" class="btn btn-danger" target="_blank">
                  Tonton Review di YouTube
                </a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- Modal Detail Produk -->
  <div class="modal fade" id="productDetailModal" tabindex="-1" aria-labelledby="productDetailModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="productDetailModalLabel">Detail Produk</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="productDetailContent">
          <!-- Content will be loaded dynamically -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
          <a href="https://wa.me/628983052203" target="_blank" class="btn btn-primary">Beli Sekarang</a>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid copyright py-4">
    <div class="container">
      <div class="row g-4 align-items-center">
        <div class="col-md-6 text-center text-md-start mb-md-0">
          <span class="text-light"><a href="#"><i class="fas fa-copyright text-light me-2"></i>Ikhsan's Tech
              World</a>, All right reserved.</span>
        </div>
        <div class="col-md-6">
          <div class="d-flex justify-content-center">
            <a href="https://www.facebook.com/profile.php?id=100015133152267"
              class="btn btn-light btn-light-outline-0 btn-sm-square rounded-circle me-2"><i
                class="fab fa-facebook-f"></i></a>
            <a href="https://x.com/ikhsannrsptra"
              class="btn btn-light btn-light-outline-0 btn-sm-square rounded-circle me-2"><i
                class="fab fa-twitter"></i></a>
            <a href="https://www.instagram.com/ikhsannrsptra?igsh=MXNrOGJxN3dqaXA2aQ=="
              class="btn btn-light btn-light-outline-0 btn-sm-square rounded-circle me-2"><i
                class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <a href="#" class="btn btn-primary btn-primary-outline-0 btn-md-square rounded-circle back-to-top"><i
      class="fa fa-arrow-up"></i></a>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>